/*---- responsive display specifications ---*/
.only-small {
  display:none;
}
.only-medium {
  display:none;
}
.only-wide {
  display:none;
}
.no-small {
  display:block;
}
.no-medium {
  display:block;
}
.no-wide {
  display:block;
}
/*-- prior */
.only-large {
  display:block;
}
.no-large {
  display:none;
}

.product-color-selector{
  display:none;
}

.product-hover:hover{
  &:after{
    content :" ";
    position:absolute;
    top:0;
    left:0;
    .boxshadow(0,5px,15px,0,rgba(0,0,0,0.2));
    width: 100%;
    height: 132%;
    z-index:-1;
  }
  background-color:@white;
  z-index: 3;
  .product-color-selector{
    display:block;
    position:absolute;
    background-color:@white;
    width:300px;
    height:auto;
    top: 426px;
    padding:20px;
    li{
      display:block;
      float:left;
      width:50px;
      height:50px;
      a{
        display:block;
        width:100%;
        height:100%;
      }
    }
  }
}

#wrapper{
  .product{
    div.product-alt-colors{
      border:0 !important;
      text-align:center !important;
      width:31% !important;
      float:none !important;
      margin:0 auto !important;
      .product-alt-colors-label{
        float:right !important;
        margin:5px 0 0 !important;
        display:inline !important;
        strong{
          float:none !important;
          padding-left:0 !important;
        }
      }
      .sprite-personalize{
        display:inline-block;
      }
    }
    .product-color-selector{
      height:auto !important;
      width:100% !important;
      border:0 !important;
      background:@white !important;
      float:none !important;
      padding:5px 25px 91px!important;
      >li{
        &:first-child{
          display:none !important;
        }
        .product-color-selector-submenu{
          border:0 !important;
          display:block !important;
          margin:0 !important;
          li.product-color-selector-content{
            float:left !important;
            border:0 !important;
            margin:0 !important;
            padding: 0 !important;
            width:50px !important;
            &:first-child{
              display:block !important;
            }
            &:nth-child(6n){
              clear:left;
            }
          }
        }
        .product-select-color-style{
          width:50px !important;
          height:50px !important;
          position:relative;
          z-index:30;
          &:hover {
          	opacity: 1 !important;
          	transition: all 0.2s ease-in-out;
          	z-index:31;
      		.boxshadow(0,2px,5px,0,rgba(0,0,0,0.3));
          }
          &.product-select-more {
          	background:@lightgrey ;
          	&:hover {
          		background:@grey;
          		color:@lightgrey ;
          	}
          }
        }
        .product-select-color-label{
          display:none !important;
        }
        .product-color-selector-submenu:hover .product-select-color-style{
        	opacity:0.9;
        }
      }
    }
  }
}

/* ---- Header */

#white-header{
  div:first-child{
    span{display:inline;}
  }
}

header{
  #menu{
    width:380px;
    li{
      width:118px;
    }
  }
  #desktop-menu{
    width:360px;
    li{
      padding:0;
      &.menu-item:first-child{
        width:116px;
        margin-left:18px;
      }
      &:nth-child(2){
        width:126px;
        margin-right:0;
      }
      a{
        height:118px;
        .only-large{
          color:@red;
          .grey{
            color:@grey;
          }
        }
        &:after{
          left:46%;
        }
      }
      .menu-item{
        .menu-item-label{padding-top:0;}
      }
    }
  }
  #desktop-search{
    clear:none;
    float:none;
    overflow:hidden;
    width:auto;
    form{
      position:relative;
      margin-bottom:15px;
      margin-top: 3px;
      input[type="text"]{
        width:100%;
        max-width:none;
      }
      .search-submit{
        position: absolute;
        right: 0;
        padding-top: 10px;
        height: 40px;
        width: 40px;
        top: -2px;
      }
    }
  }

}

.slider {
  position:relative;
  #event-bar{
    position:relative;
    z-index:2;
    top:0;
    left:0;
    height:30px;
    width:100%;
    text-align:center;
    #event-bar-content{
      padding-top:4px;
      font-size:@font-12;
      strong{
        padding:5px 10px;
        font-weight:bold;
        display:inline-block;
        height:22px;
      }
      a{
        color:@white;
        text-decoration:underline;
      }
    }
  }
  .swiper-slide{
    img{
      width:100%;
    }
  }
}

#breadcrumb{
  width:100%;
  ul{
    #product-reference{
      padding-left: 4px;
    }
    li{
      &:last-child{
        clear:none;
        h1{
          margin: 3px 0 0 4px;
          clear:none;
        }
      }
    }
  }
}

/* ---- Home */

#wrapper{
  width:1260px;
  margin:0 auto;

  #top-products{
    padding-left:0;
    h2{
      padding-left:0;
    }
    .swiper-wrapper{
      padding-left:0;
    }
  }

  #made-in-france{
    #made-in-france-wrapper{
      width:960px;
      float:left;
      background-position: -2px 0;
      #made-in-france-content{
        margin-right: 54px;
        padding-top:20px;
      }
    }
    #made-in-france-sidelinks{
      width:300px;
      float:right;
      li{
        background-color:@blacker;
        width:100%;
        height:100px;
        float:none;
        a{
          color:@red;
          .icon-chaises, .icon-table, .icon-tabouret{ color:@red; }
          span:first-child{
            padding-top:16px;
          }
          span:nth-child(2){
            margin-top:16px;
          }
        }
      }
    }
  }

  .square-blocks-container{
    width:1260px;
    .square-block{ margin-left:20px; &:first-child{margin:0;} }
    #block-blog{
      float:left;
      overflow:hidden;
      margin-bottom:20px;
      position:relative;

      .span-title{
        transition: top 0.5s;
        position:absolute;
        top:20px;
        left:20px;
      }

      a{
        position:absolute;
        bottom:20px;
        right:20px;
        margin:0;
      }

      p{
        padding:0 20px;
        width:300px;
        position:absolute;
        top:100%;
        left:20px;
        color:@white;
        font-size:@font-16;
        transition: top 0.5s;
      }

      &:hover{
        .span-title{
          top:-100%;
        }
        p{
          top:20px;
        }
      }

    }

  }

  #products-stock{
    padding: 13px 0 0 0;
    h2{
      width:990px;
      padding-left:0;
    }
    .span-title{
      small{
        margin-left:0;
        margin-top: 1px;
        display: block;
        margin-bottom: 21px;
      }
    }
    #products-stock-more{
      padding-left:0;
      ul{
        li{
          height:100px;
        }
      }
    }
    #products-stock-swiper{
      padding-left:0;
      width:940px;
      float:left;
      padding-top: 14px;
    }
    #products-stock-more{
      width:320px;
      float:left;
      margin-top:-71px;
      padding-bottom: 90px;
      padding-left:20px;
      position:relative;
      z-index:2;
      background-color:@white;
      .span-title{
        margin-top:20px;
        letter-spacing: 0px;
        padding-left:0;
      }
      ul{
        li{
          width:100%;
          float:none;
          background-color:transparent;
          a{
            color:@grey;
            .icon-chaises, .icon-table, .icon-tabouret{ color:@grey; }
            span:first-child{
              padding: 20px 0 0 39px;
            }
            span:nth-child(2){
              margin: 22px 0 0 19px;
            }
            span:last-child{
              margin-right: 24px;
              margin-top: 49px;
            }
          }
        }
      }
    }
  }

  .storelocator{
    .storelocator-select,
    .storelocator-infos{
      width:25%;
      a{ margin-top:10px; }
    }

    .storelocator-select{ padding-right:20px; }
    #storelocator-map-container{overflow:hidden;clear:none;}
  }

  #engagement{
    padding-bottom:50px;
    ul{
      width:930px;
      margin:0 auto;
      li{
        width:16.66%;
      }
    }
  }

  #welcome{
    padding:0;
    width:1260px;
    margin:50px auto 0;
  }
}

/* ---- Page Product */

#product-share{
  position: absolute;
  right: 0;
  top: 200px;
  transition: width .25s ease-in;
  width: 88px;
  height: 31px;
  overflow: hidden;
  #product-share-left{
    float:left;
    cursor:pointer;
    span{
      display:block;
      float:left;
      &:first-child{
        margin:6px 10px 0 0;
        color:@grey;
        font-size:@font-11;
      }
    }
  }
  #product-share-list{
    float:left;
    li{
      width:50px;
      height:50px;
    }
  }
}

#product-container{
  padding:0;
  margin-top:2px;
  position:relative;

  #product-big-img{
    width:600px;
    height:600px;
  }
  #product-infos{
    position:relative;
    float:left;
    margin-left:41px;
    &:after{
      display:none;
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      left:-100%;
      top:0;
      z-index:4;
      background-color:fade(#fff,20);
    }

    .product-delivery{
      .info-on-demand-container{
        .info-on-demand{
          top:-105px;
          left:-315px;
          width:320px;
        }
      }
    }

    form{
      position: relative;
    }
  }
  .product-delivery-infos{
    float:left;
    width:50%;
    padding-right:25px;
    .span-title{
      padding-top:41px;
    }
    p{ padding-bottom:18px; }
  }

  .product-size{
    float:right;
    width:49%;
    clear:both;
    margin-top:24px;
    .product-size-description{
      width: 315px;
      padding-left: 28px;
    }
  }
  .product-also-seen{
    padding-top:28px;
    .span-title{
      margin-bottom: 30px;
    }
  }
  .product-personalize{
    padding-top:20px;
    span{
      margin-bottom:5px;
    }
  }
  .product-list-comments{
    clear:both;
    .product-list-comments-pagination{
      display: flex;
      align-items: center;
      justify-content: center;
      >span{
        width: auto;
        margin-right: 10px;
      }
      li.only-small{display:none;}
    }
    >span{
      &:nth-child(2){
        display:inline-block;
      }
    }
  }

  .product-description{
    width:600px;
    float:left;
    margin-left:40px;
  }

  #product-gallery{
    margin-top: 7px;
    width:600px;
    float:left;
    .swiper-wrapper{width:600px;height:600px;display:block;}
    .swiper-slide{
      width:290px;
      height:290px;
      margin-right:18px;
      float:left;
      margin-bottom:18px;
      &:nth-child(2n+1){
        clear:both;
      }
      &:nth-child(2n){margin-right:0;}
      &.small-imgs{
        width:auto;
        img{
        }
      }
    }
    .swiper-navigation-right{display:none;}
  }


  .product-personalize-zone{
    &.active{
      .product-personalize-selection{
        display: block;
      }
    }
  }


  .product-personalize-selection{
    top: -358px !important;
    right: -333px !important;
    height: auto;
    padding: 0;
    display: none;
    .span-title{display:none;}
    .close{display:none;}
  }

  #product-last-seen{
    display:block;
    margin:20px 0;
    clear:both;
    .span-title{
      color:@grey;
      display:block;
      margin-bottom:10px;
    }
    #product-last-seen-list{
      li{
        width:140px;
        float:left;
        img{
          width:100%;
          height:auto;
        }
      }
    }
  }

}

/* --------- Page Catagories */

#category-wrapper{

  padding: 20px 0;

  #category-sidemenu{
    position:relative;
    width:300px;
    z-index:1;
    .category-filter-reset{display:inline-block;padding-left:10px;font-size:@font-12;}
    .category-sidemenu-submenu-colors{
      max-width:265px;
    }
  }

  #category-content{
    float:left;
    width:960px;
    padding-left:0;
    padding:10px;
    margin-top: 0;
    position:relative;
    z-index:2;
    overflow:visible;
    &:after{
      content: "";
      display:block;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      .boxshadow(-8px, -18px, 34px, -8px, rgba(0,0,0,.2));
      z-index:-1;
    }

  }

  #category-illustration{
    margin-left:0;
    width:100%;
    background-position: 0 0;
    position: relative;
    z-index: 2;
  }

  #category-list-product-container{
    #category-list-product{
      .product{
        width:300px !important;
        float:left;
        margin-right:20px;
        &:nth-child(2n){float:left;}
        &:nth-child(3n){margin-right:0;}
        p{
          &.product-title{
            width:300px !important;
          }
        }
      }
    }
    .category-product-pagination{
      ul{
        li{
          &:last-child{
            a{
              padding:12px 23px;
              font-size:@font-16;
            }
          }
        }
      }
    }
  }

}

/* ---- Panier */

#order-cart{
  padding:20px 0;
  #order-list{
    width:960px;

    #order-table-head{
      display:block;
      margin-top: 9px;
      padding-right: 34px;
      span{
        float:right;
        width:140px;
        display:block;
        text-align:center;
        color:@grey;
        text-transform:uppercase;
        font-size:@font-12;
      }
    }

    #order-list-products{
      li{
        .order-product-infos-container{
          .order-product-infos{
            float:left;
            width:320px;
          }
          .order-product-price,
          .order-product-quantity,
          .order-product-price-final{
            width:140px;
            float:left;
            text-align:center;
          }
          .order-product-trash{
            margin: 13px 0 0 0;
            width:auto;
            float:right;
            text-align:center;
            span{
              cursor: pointer;
            }
          }
          .order-product-quantity{
            select{
              //margin-left: 17px;
            }
          }

          .order-product-price{
            .price-old{display:block;}
          }

        }
      }
    }
  }

}

/* ---- Mon compte */

#navigation-account{
  width:1260px;
  padding:0 20px 0 0;
  margin:0 auto;
  ul{
    padding-left:0;
  }
}

/* -- Mes Adresses */

#my-addresses{
  #my-addresses-left{
    width: 70%;
  }
  #my-addresses-list{
    li{
      .address{
        width:280px;
      }
    }
  }
}

/* -- Mes envies */

#wishlist{
  width:1260px;
  padding:0;
  .product{
    float:left;
    margin:0 20px 0 0 !important;
  }
}

/* -- Mes commandes (historique) */

#order-history{
  >ul{
    width:1260px;
  }
}

/* ---- Page Inscription */

#registration{
  padding:20px 0;
  #registration-form{
    width:920px;
  }
}

/* ---- Page choix livraison */

#delivery{
  padding:20px 0;

  #delivery-form{
    width:920px;
    float:left;
    margin:0 auto;
  }
}

/* ---- Page choix paiement */

#payment{
  padding:20px 0;

  #payment-form{
    width:920px;
    float:left;
    margin:0 auto;
  }
}

/* ---- Page commande validÃ©e */

#order-completed{
  padding:20px 0;
  .span-subtitle{
    display:block;
  }
  #order-completed-list-products{
    width:1260px;
  }
}

/* ---- Footer */

footer{
  width:1260px;

  #footer-social{
    /*padding:5px 10px;*/
    .footer-social-left{
      float:left;
      width:45%;
      text-align:left;
    }
    .footer-social-right{
      padding-top:10px;
      float:right;
      width:50%;
      text-align:right;
    }
  }

  #footer-cgv,
  #footer-popular-search,
  #footer-sitemap{
    margin-left:20px;
  }

  #footer-professional-space{
    margin-left:0;
  }

}

/* ---- Sticky bars */

#sticky-menu{
  padding-left:5px;
  #sticky-menu-right{
    padding-left:0;
    .mobile-cart{
      margin:0 4px;
    }
    nav.breadcrumb-4pieds{
      display:block;
      padding-top:10px;
      width:auto;
      padding-left:0;
      ul{
        li{
          &:nth-child(-n+2){
            font-size:@font-11;
          }
          &:nth-child(3){
            margin-top: -3px;
            line-height: 14px;
            font-weight: bold;
            letter-spacing: 1.3px;
            small{
              display:block;
              font-weight:normal;
              font-size:@font-11;
              letter-spacing: 0.2px;
            }
          }
        }
      }
    }
  }
}

#sticky-bar-cart{

  #sticky-bar-cart-content{
    width:920px;

    #sticky-bar-cart-left{
      width:55%;
      float:left;
      padding:5px;
      div{
        float:left;
        padding-top: 15px;
      }
    }

    #sticky-bar-cart-right{
      padding:10px 5px;
      width:45%;
      float:right;
      clear:none;
      #sticky-bar-cart-callus
      {
        margin-top: 2px;
        strong{
          padding-left:5px;
        }
      }
    }

  }
}

/* --------- Popin */

#cookie-popin{
  background-position:90% 0;
  #cookie-popin-bottom{
    padding-top:20px;
    a{
      display:inline;
    }
  }
}

#add-cart-popin{

  .span-title{
    color:@white;
    text-indent:-9000px;
    margin-top: -7px;
    .add-cart-title{
      text-indent:0;
      display:block;
      background-color:fade(@green,20);
      color:@green;
      padding:5px 15px;
    }
  }

  #add-cart-popin-top{

    #add-cart-popin-actions-top{
      display:block;
      a{
        .black-rounded-button;
        &:first-child{
          background-color:@white;
          color:@grey;
          float:left;
        }
        &:nth-child(2){
          float:right;
        }
        display:block;
      }
    }
  }

  #add-cart-popin-bottom{
    background-color:@white;
    border-top:10px solid @darkergrey;
    .span-title{
      color:@grey;
      text-indent:0;
      text-align:center;
    }
    #add-cart-popin-actions-bottom{
      display:none;
    }
  }
}

/* ---- Menus flottant desktop */

#menu-float-desktop{
  #menu-float-desktop-chaises{
    ul{
      &:nth-child(3){
        border-right:0;
      }
    }
    &>ul:not(.submenu-grid) {
		padding-left:0;
		padding-right:0;
		li {
			padding-bottom:0;
		}
		h5, a {
			padding:8px 10px 7px;
			display:block;
		}
		h5 {
			margin-bottom:12px;
			padding:0 10px;
		}
		a:hover {
			background:@borderColor;
		}
    }
  }
  .submenu-grid{
    clear:none;
    float:left;
    margin-bottom:0;
    li{
      &:nth-child(-n+3){
        border-top:0;
      }
      &:nth-child(3n+1){
        border-left:1px solid @borderColor;
        clear:left;
      }
    }
    &.submenu-img{
      li{float:none;border:0;}
    }
  }

  #menu-float-desktop-stores{
    .storelocator-infos{clear:none;}
    #menu-desktop-storelocator-map{width:auto;height:300px;margin-left:0;}
  }

}
