/*---- responsive display specifications ---*/
.only-small {
  display:none;
}
.only-medium {
  display:none;
}
.only-wide {
  display:none;
}
.only-large {
  display:none;
}
.no-small {
  display:block;
}
.no-large {
  display:block;
}
.no-wide {
  display:block;
}
/*-- prior */

.no-medium {
  display:none;
}
.only-medium {
  display:block;
}

/* --------- Generals */

.product{
  width:300px !important;
  .product-img{
    img{ width:100% !important; height:auto !important; }
    .promo{
      img{ width:auto !important;height:auto !important; }
    }
  }
  p{
    &.product-title{
      width:300px !important;
    }
  }

  .product-color-selector{
    li{
      .product-color-selector-submenu{
        width: 300px !important;
        margin-left: -80px !important;
        li{
          padding-left:78px !important;
        }
      }
    }
  }

}

#breadcrumb{
  padding-left: 20px !important;
  padding-top: 16px;
  width:768px;
  ul{
    li{
      &:last-child{
        clear:both;
        h1{
          font-size:@font-16;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}

nav.breadcrumb-4pieds{
  width:768px;
  padding-top: 15px;
  padding-left: 20px
}

#white-header{
  display:block;
  height: 30px;
  line-height: 28px;
  div:first-child{
    float:left;
    padding-left:20px;
    font-size:88%;
    color:@grey;
  }
  div:nth-child(2){
    float:right;
    padding-right:20px;
    font-size:84%;
    color:@grey;
    strong{
      color:@black;
      font-size:120%;
      &:nth-child(2){
        font-size:106%;
      }
    }
  }
}

.category-sort{display:none !important;}

.slider{
  height:450px;
  #event-bar{
    height:30px;
    #event-bar-content{
      strong{
        display: inline-block;
        height: 22px;
        width: auto;
        margin: 0;
      }
    }
  }
  .slide-content{
    width:660px;
    top:100px;
    ul{
      li{
        height:auto;
        float:left;
        width:33.33%;
        .slide-sprite{
          margin:0 auto;
          float:none;
        }
        .slide-label{
          display:block;
          height:auto;
          width:100%;
          text-align:center;
          margin-top:10px;
          strong{
            margin-top:20px;
          }
          small{
            display:block;
            width:100px;
            margin:10px auto 0;
          }
        }
      }
    }
  }
}

/* ------- Header*/

header {
  padding:18px 20px 0 20px;
  position:relative;
  z-index:200;
  #logo {
    margin-bottom:20px;
    margin-top: 0;
    img{
      width:100px;height:100px;
    }
  }
  #menu{clear:none;width:335px;padding-top:2px;height:auto;}
  #menu{
    z-index:200;
    float:left;
    padding-bottom:0;
    li{
      width: 110px;
      height: 100%;
      .icon-chaises, .icon-table{
        font-size: 363%;
        margin-bottom:4px;
        margin-bottom: 6px;
        padding-top: 8px;
      }
      .icon-tabouret{ font-size: 323%; margin-bottom:6px; padding-top: 4px; }
      a{
        font-size: 107%;
        height: 113px;
        display: block;
        position: relative;
        letter-spacing: 0.4px;
        .grey-triangle;
        span{
          margin-bottom:7px;
        }
      }
    }
  }
  #desktop-menu{
    clear:none;
    width:284px;
    float:right;
    padding-top:2px;
    padding-bottom:0;
    li{
      width: 100px;
      height: 121px;
      padding-top:9px;
      margin-top:-3px;
      a{
        display:block;
        color:@black;
        font-weight:normal;
        height: 110px;
        position: relative;
        .grey-triangle;
        &:after{
          bottom: 17px;
          left: 42%;
        }
      }
      &:first-child{ width:80px; }
      &:nth-child(3){
        height:100px;
        background-color:@white;
        border:0;
        padding-top: 14px;
        a:after{border:0;}
      }
    }
    .menu-item:first-child{margin-left:0;margin-right:0;}
    .menu-item{
      .menu-item-label{ letter-spacing:0; padding:0; }
      a{
        font-size:@font-12;
      }
    }
  }
  #desktop-search{
    clear:left;
    float:left;
    width:100%;
    form{
      width:100%;
      margin:0;
      input[type="text"]{
        width:100%;
        padding-left:15px;
        outline: 1px solid @greyCCC;
      }
      .search-submit{
        color:@white;
        background-color:@red;
      }
    }
    #desktop-sidelinks{
      clear:left;
      padding:13px 0 49px;
      height: 35px;
      overflow: hidden;
      margin:0;
      >li{
        position:relative;
        &:first-child{
          .grey-triangle;
          border-bottom:5px solid @darkergrey;
          &:after{
            bottom: 11px;
            left: 42%;
          }
        }
        float:left;
        margin-right:17px;
        height:49px;
        &:hover{
          border-bottom:5px solid @red;
        }
        a{
          color:@black;
          font-size:@font-12;
          letter-spacing: 0.3px;
        }
      }
    }
  }

}

/* --------- Home */

#wrapper{

  #top-products{
    h2{
      padding-left:10px;
      margin-bottom:20px;
      letter-spacing:0.5px;
    }
    .swiper-wrapper{
      padding-left:10px;
    }
    .product-img{
      img{
        width:300px;
        height:300px;
      }
      .promo{
        img{ width:auto;height:auto; }
      }
    }
  }

  #made-in-france{
    #made-in-france-wrapper{
      background-position: -187px 0;
      background-color:@blacker;
      #made-in-france-content{
        width: 33.33%;
        height:300px;
        float: right;
        padding-top: 20px;
        margin-right:10px;
        letter-spacing: 0.2px;
        .span-title{ margin-top:8px; }
        p{ line-height: 19px; }
      }
    }
    #made-in-france-sidelinks{
      li{
        border-right:1px solid fade(@white,15);
        border-bottom:0;
        width:33.33%;
        float:left;
        height:80px;
        &:last-child{
          border-right:0;
        }
        a{
          span{
            &:first-child{
              padding: 11px 0 0 15px;
            }
            &:nth-child(2){
              margin-top:11px;
              width:115px;
            }
            &:last-child{
              margin-top:35px;
              margin-right:25px;
            }
          }
        }
      }
    }
  }

  .square-blocks-container{
    clear:left;
    width:620px;
    margin:0 auto;
    padding:20px 0 0;

    &#block-promo-first{
      .square-block{
        float:left;
        margin-bottom:20px;
        &:nth-child(2n){
          margin-left:20px;
        }
      }
    }

    &#block-promo-second{
      .square-block{
        float:left;
        margin-bottom:20px;
        &:nth-child(2n+1){
          margin-left:20px;
        }
      }
    }

    #block-blog{
      width:620px;
      margin-bottom:60px;
      background-position: 0 0;
      .span-title{
        display: block;
        width: 245px;
        margin-top: 22px;
        font-size: 200%;
        letter-spacing: 1.6px;
        line-height: 36px;
      }
      a{ margin-top:-8px; float:right; padding:4px 12px;}
      p{
        clear:both;
        padding-top: 15px;
        letter-spacing: 0.3px;
      }
    }

  }

  #engagement{
    clear:left;
    padding-bottom:14px;
    ul{
      width:500px;
      margin:0 auto;
      li{
        width:33.33%;
        &:nth-child(2n+1){
          clear:none;
        }
        &:nth-child(n+4){
          margin-bottom:0;
        }
      }
    }
  }

  #welcome{
    padding:0 20px;
    p{
      margin-top: 14px;
      font-size: 83%;
      line-height: 15px;
      letter-spacing: 0.35px;
    }
  }

  #products-stock{
    clear:left;
    padding-top:29px;
    h2{
      padding-left:10px;
      margin-bottom:10px;
      small{
        text-transform: none;
        font-size: 68%;
        margin-top: 7px;
      }
    }
    #products-stock-swiper{
      padding-left:10px;
    }
    #products-stock-more{
      ul{
        li{
          border-right:1px solid fade(@white,15);
          border-bottom:0;
          width:33.33%;
          float:left;
          height:80px;
          &:last-child{
            border-right:0;
          }
          a{
            span{
              &:first-child{
                padding: 15px 0 0 30px;
              }
              &:nth-child(2){
                margin: 10px 0 0 20px;
              }
              &:last-child{
                margin-right: 29px;
                margin-top: 35px;
              }
            }
          }
        }
      }
    }
    .span-title{
      padding-left:10px;
      margin-bottom:10px;
      small{
        display:inline-block;
        margin-left:10px;
      }
    }
  }

  .storelocator{
    clear:left;
    padding:0;
    margin-top: 62px;
    .span-title{
      line-height: 25px;
      letter-spacing: 0.6px;
      padding-top: 3px;
    }
    .storelocator-select,
    .storelocator-infos{ padding:20px;height:300px; width:50%; float:left;}
    #storelocator-map-container{overflow:visible;clear:both;}
    #storelocator-map{width:100%;height:300px;margin:0;}

    .storelocator-select{
      padding-right:100px;
      border-right: 1px solid @borderColor;
    }

    .storelocator-infos{
      padding-top:18px;
      .storelocator-adress{
        margin-top: -4px;
        letter-spacing: 0.3px;
      }
      .storelocator-phone{ display:block; }
      a{
        margin-top:10px;
        display:block;
        float:left;
      }
    }

    hr{display:none;}
  }

}

/* --------- Page Product */

#product-container{
  width:100%;
  padding:0 20px;
  #product-big-img{
    width:408px;
    height:408px;
    float:left;
  }
  #product-gallery{
    .swiper-slide{
      width:290px;
      &.small-imgs{
        width:auto;
        img{
          display:block;
          float:left;
          margin-right:18px;
          width:135px;
          height:135px;
          margin-bottom:18px;
          &:nth-child(3){
            clear:left;
          }
          &:nth-child(2n){margin-right:0;}
        }
      }
      img{
        width:290px;
        height:290px;
      }
    }
    .swiper-navigation-right{right:-40px;}
  }
  .product-price{ margin-top:5px; }
  #product-infos{
    float:right;

    .product-delivery{
      .info-on-demand-container{
        .info-on-demand{
          top:-105px;
          left:-315px;
          width:320px;
        }
      }
    }
  }
  .product-description,.product-size, .product-delivery-infos{width:100%;}

  .product-size{
    .sprite-chair-size{
      float:left;
    }
    .product-size-description{
      padding-top:20px;
      width:400px;
      float:left;
      p{
        font-size:@font-12;
      }
    }
  }

  .product-list-comments{
    padding:20px;
    .product-comment{
      width:300px;
      float:left;
      padding-right:20px;
    }
    .product-list-comments-pagination{
      padding-top:30px;
    }
  }

  .product-personalize-selection{
    z-index:4;
    display: block;
    height: 100%;
    /*&:before{
      content: "";
      height:90%;
      width:100%;
      position:absolute;
      left:-10px;
      top:10px;
      display:block;
      z-index:1;
      .boxshadow(0,1px,20px,0,rgba(0,0,0,0.2));
    }*/
  }

}

/* --------- Page Catégories */

#category-wrapper{

  padding:20px;

  #category-sidemenu{
    padding:0;
    position:relative;
    left:0;
    top:20px;
    float:left;
    box-shadow: none;
    height:100%;
    width:190px;
    overflow:hidden;
    .close{display:none;}
    .span-title{ margin-bottom:0; &.no-small{display:inline-block;} }
    .category-filter-reset{padding-left:0;}
    #category-filters-active{margin-top:10px;}
  }

  #category-content{
    overflow:hidden;
    padding-left:30px;
  }

  #category-illustration{
    margin-left:-20px;
    width:110%;
    background-position: -200px 0;
    padding-left:23px;
    h1{
      font-size:@font-40;
    }
  }

  #category-content{
    .more{
      margin-bottom:30px;
    }
  }

  #category-list-product-container{
    #category-list-product{
      .product{
        width:250px !important;
        float:left;
        &:nth-child(2n){
          float:right;
        }
        p{
          &.product-title{
            width:250px !important;
          }
        }
      }
    }
  }

}

/* ---- Panier */

#order-cart{
  padding:20px;
  #order-list{
    width:425px;
    float:left;
    padding-right:20px;
    #order-list-products{
      margin: 19px auto 0;
      li{
        .order-product-img{
          width:140px;
          margin-right: 21px;
        }
      }
    }
  }

}

#order-infos{
  float:right;
  clear:none;
  margin-top: -6px;
}

/* ---- Mon compte */

#navigation-account{
  width:768px;
  padding:0 20px;
  margin:0 auto;
}

#my-informations{
  width:100%;
  margin:0;
  padding:20px;
}

#my-addresses{
  padding:20px;
  #my-addresses-left{
    width: 55%;
  }
  fieldset{ width:260px; }
  #my-addresses-list {
    li {
      .address-actions{
        a{
          float:left;
          margin-left:20px;
        }
      }
    }
  }
}

/* -- Mes envies */

#wishlist{
  width:768px;
  padding:20px;
  .product{
    float:left;
    &:nth-child(odd){
      margin:0 20px 0 55px;
    }
  }
}

/* -- Mes commandes (historique) */

#order-history{
  >ul{
    width:768px;
    padding:0 20px;
    >li{
      clear:both;
      .order-date{
        width:50%;
        float:left;
      }
      .order-delivery-status{
        width:25%;
        float:left;
        margin:5px 0;
        clear:none;
        text-align:center;
      }
      .order-follow{
        width:25%;
        float:left;
        clear:none;
        text-align:center;
      }
    }
  }
}


/* ---- Page Inscription */

#registration{
  padding:20px;
  #registration-form{
    width:400px;
  }
}

/* ---- Page choix livraison */

#delivery{
  padding:10px;

  #delivery-form{
    width:420px;
    float:left;
    margin:0 auto;
  }
}

/* ---- Page choix paiement */

#payment{
  padding:10px;

  #payment-form{
    width:420px;
    float:left;
    margin:0 auto;
  }
}

/* ---- Page commande validée */

#order-completed{
  padding:20px;
  #order-completed-list-products{
    width:768px;
    margin:0;
    li.order-completed-product{
      ul{
        padding-top:15px;
        overflow:hidden;
        li{
        }
      }
      form{
        clear:none;
        float:left;
        width:450px;
        input[type="text"]{display:none;}
        textarea{ width:100%; height:80px; border:1px solid @greyCCC; padding:5px; color:@grey; font-size:@font-12; }
        button[type="submit"]{
          margin:5px 0 20px;
        }
      }
    }
  }
}

/* --------- Footer */

footer{
  width:620px;
  padding:50px 0 0;
  margin:0 auto;

  #footer-professional-space,
  #footer-cgv,
  #footer-popular-search,
  #footer-sitemap
  {
    float:left;
    margin:0 0 20px 0;
  }

  #footer-cgv,#footer-sitemap{
    margin-left:20px;
  }

}

/* --------- Sticky bars */

#sticky-menu{

  #sticky-menu-right{
    padding-right: 20px;
    .product-add-wish{
      .no-small{
        font-weight:bold;
        font-size:@font-14;
        display:inline;
        text-transform: uppercase;
        color:@grey;
        float: right;
        margin-left: 5px;
        margin-top: 1px;
      }
    }
    .price-new{
      display:block;
      float:right;
      font-size:@font-32;
      margin-right:9px;
    }
  }

}

#sticky-bar-cart{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  background-color:@darkergrey;
  z-index:5;

  #sticky-bar-cart-content{
    margin:0 auto;
    width:768px;
    padding:5px 10px;
    li{
      float:left;
      padding:5px 8px 5px 8px;
      position:relative;
      margin-right:20px;
      width:auto;
      border:0;
      &last-child{
        margin-right:0;
      }
      .sticky-bar-bubble{
        display:none;
        position:absolute;
        top:-155px;
        left:-20px;
        width:209px;
        background-color:@grey;
        padding:23px 15px;
        width:210px;
        font-size:@font-12;
        color:@white;
        .close{
          position: absolute;
          top: 10px;
          left: 190px;
          .icon-close{
            font-size: 45%;
            color: @white;
          }
        }
        strong{
          display:block;
          font-size:150%;
        }
        &:after{
          content: "";
          position: absolute;
          bottom: -10px;
          right: 20px;
          border-width: 10px 0 0 10px;
          border-style: solid;
          border-color: @grey transparent;
          display: block;
          width: 0;
        }
      }
      a{
        width: 100%;
        display: block;
        height: 100%;
        span:first-child{
          float:left;
        }
        span:nth-child(2){
          margin: 4px 0 0 18px;
          display: inline-block;
          color:@grey;
          font-size:@font-14;
          width:auto;
        }
        span:nth-child(3){
          display:inline-block;
          font-size:@font-12;
          color:@grey;
          font-weight:bold;
          margin-left:18px;
        }
      }
      &:hover,
        &.active{
        background-color:@grey;
      }
    }
  }
}
/*#sticky-bar-cart{
  height:50px;

  #sticky-bar-cart-content{
    width:100%;
    #sticky-bar-cart-left{
      width:40%;
      float:left;
      div{padding-top:0;}
    }

    #sticky-bar-cart-right{
      width:60%;
      float:right;
      clear:none;
      #sticky-bar-cart-callus {
        margin-top:0;
        strong{
          display:inline;
          font-size:150%;
          padding-left:15px;
        }
      }
    }
  }
}
*/
/* --------- Popin */

#cookie-popin{
  background:#ef7778 url('../img/compressed/cookie-popin.png') no-repeat -685px 0px;
  width:100%;
  height:300px;
  position:fixed;
  bottom:0;
  left:0;
  top:initial;
  z-index:4;
  display:block;
  padding:30px 20px 10px;

  .close{
    opacity:1;
    font-size:@font-12;
    color:@white;
    font-weight:normal;
    text-shadow:none;
    position:absolute;
    float:none;
    right:10px;
    top:10px;
    .icon-close{font-size:@font-11;}
  }

  #cookie-popin-content{
    width:550px;
    margin:0 auto;
  }

  #cookie-popin-left{
    margin-top:10px;
    width:280px;
    float:left;
    position:relative;
    #cookie-popin-left-text1{
      font-size:@font-30;
      text-transform:uppercase;
      font-weight:bold;
      line-height: 30px;
    }
    #cookie-popin-left-text2{
      font-size:@font-12;
      position:absolute;
      top: 75px;
      left: 84px;
    }
    #cookie-popin-left-text3{
      font-size:690%;
      font-weight:bold;
    }
    #cookie-popin-left-text4{
      font-size:@font-12;
      position:absolute;
      top: 128px;
      left: 150px;
    }
  }

  #cookie-popin-right{
    width:260px;
    float:left;
    margin-left:10px;
    p{
      color:@white;
      font-size:@font-16;
    }
    input,select{
      width:100%;
    }
    select{
      .select-style;
    }
    input[type="text"]{
      .input-my-account;
      padding:8px 13px;
    }
    input[type="submit"]{
      .black-rounded-button;
      background-color:fade(#000,20);
    }
  }

  #cookie-popin-bottom{
    clear:both;
    color:@white;
    font-size:@font-12;
    padding-top:10px;
    a{
      color:@white;
      display:block;
      text-decoration:underline;
    }
  }

}

#add-cart-popin{
  width:660px;
  padding:20px 20px 10px;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;

  .close{
    margin-top: -12px;
    margin-right: -5px;
  }

  .add-cart-product-img{
    width:140px;
  }
  .product{
    width:140px !important;
    p{
      &.product-title{
        width:140px !important;
      }
    }
  }

  .swiper-navigation-right{display:none;}

  #add-cart-popin-bottom{
    width:660px;
    margin-left:-20px;
    #add-cart-popin-actions-bottom{
      width:660px;
      a{
        &:first-child{
          float:left;
          margin-left:20px;
        }
        &:nth-child(2){
          float:right;
          margin-right:20px;
        }
        clear:none;
      }
    }
  }

}

/* --------- Menu desktop & tablet */

#menu-float-desktop{
  width:100%;
  position:absolute;
  top:-100%;
  left:0;
  background:@white;
  z-index:199;
  transition: top 0.5s;
  &:after{
    content: " ";
    display: block;
    .boxshadow(1px, 3px, 11px, -3px, rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
  }
  h5{
    font-weight:bold;
    font-size:@font-16;
    text-transform:uppercase;
    color:@black;
    margin:15px 0 20px;
  }
  >div{
    display:none;
    padding-left: 12px;
  }
  .menu-float-desktop-list-links{
    li{
      line-height:100%;
      padding-bottom:15px;
    }
  }
  #menu-float-desktop-chaises>ul:not(.submenu-grid){
    float:left;
    width:200px;
    border-right:1px solid @borderColor;
    padding:0 10px 35px;
    margin:0;
    height: 100%;
    min-height: 300px;
    a{
      font-size:85%;
      &:hover{
        color:@black;
      }
    }
  }
  .submenu-grid{
    clear:left;
    float:left;
    &.submenu-img{
      clear:none;
    }
    li{
      .menu-grid-item;
    }
  }

  #menu-float-desktop-account{
    width:300px;
    position:absolute;
    top:-100%;
    right:50px;
    background-color:@bgColor;
    ul{
      margin-bottom:0;
      li{
        padding:20px;
        border-bottom:1px solid fade(#000,10);
        &:last-child{border:0;}
        font-size:@font-16;
        color:@grey;
        text-transform:uppercase;
        font-weight:bold;
        .icon-heart{
          font-size: 160%;
          float: right;
          position: relative;
          display: block;
          .wish-number{
            position: absolute;
            top: 5px;
            left: 9px;
            color: #fff;
            font-size: 50%;
          }
        }
        a:hover{
          color:@black;
        }
      }
    }
    &:after{
      content: " ";
      position:absolute;
      border-radius:50px;
      bottom:0;
      left:25px;
      width:80%;
      height:10%;
      display:block;
      z-index:-1;
      .boxshadow(1px,1px,30px,7px,rgba(0,0,0,0.2));
    }
  }

  #menu-float-desktop-stores{
    .storelocator-style;
    background-color:@white;
    margin-top:0;
    padding:0;
    overflow:hidden;
    .storelocator-select,
    .storelocator-photo,
    .storelocator-infos
    {
      width:300px;
      float:left;
    }
    .storelocator-select,
    .storelocator-infos{

      width:320px;
      padding:20px;
    }
    .storelocator-select{
      select{
        border:1px solid #ccc;
      }
    }
    .storelocator-photo{
      float:right;
    }
    #menu-desktop-storelocator-map{width:100%;height:300px;margin:0;}
  }

  #menu-float-desktop-style{
  	padding-left:0;
    ul{
      width:100%;
      margin-bottom:0;
      background-color:@black;
      li{
        position: relative;
        width: 16.66%;
        height: 0;
        display: block;
        float: left;
        overflow: hidden;
        padding-bottom: 16.66%;
        a{
          position:absolute;
          width:100%;
          height:100%;
          z-index:2;
          top:0;
          left:0;
          img{
            min-width:100%;
            min-height:100%;
            width:auto;
            height:auto;
            vertical-align:top;
          }
        }
        .menu-style-link{
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          text-align:center;
          height: 79px;
          padding-top: 30px;
          background: rgba(0,0,0,0);
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.59)));
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
          background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
          background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
          span{
            border:1px solid @white;
            color:@white;
            padding:10px 30px;
            text-transform:uppercase;
          }
        }
      }
    }
  }
}

/* ------- generals */

.white-cart{
  margin-top: 5px;
}

.cart-notifications{
  top: 1px;
  right: 31px;
  padding:2px 0 0 0;
  font-size:102%;
}
