
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: '4pieds-icon';
  src:    url('../fonts/4pieds-icon.eot?9ak2j6');
  src:    url('../fonts/4pieds-icon.eot?9ak2j6#iefix') format('embedded-opentype'),
    url('../fonts/4pieds-icon.ttf?9ak2j6') format('truetype'),
    url('../fonts/4pieds-icon.woff?9ak2j6') format('woff'),
    url('../fonts/4pieds-icon.svg?9ak2j6#4pieds-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '4pieds-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e905";
}
.icon-left-arrow:before {
  content: "\e906";
}
.icon-virement:before {
  content: "\e907";
}
.icon-cheque:before {
  content: "\e908";
}
.icon-heart2:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-tabouret:before {
  content: "\e90b";
}
.icon-chaises:before {
  content: "\e90c";
}
.icon-table:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-zoom:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-trash:before {
  content: "\e911";
}
.icon-validation:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-cart:before {
  content: "\e914";
}
.icon-metre:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
.icon-menu:before {
  content: "\e917";
}
.icon-right_arrow:before {
  content: "\e918";
}
.icon-down_arrow:before {
  content: "\e919";
}
.icon-up_arrow:before {
  content: "\e919";
  position: absolute;
  transform: rotate(180deg);
}
.icon-search:before {
  content: "\e91a";
}
.icon-minus:before {
  content: "\e91b";
}
.icon-mail:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e91d";
}

.icon-close{cursor:pointer;}
.icon-star{color:@lightgrey;}
.icon-star{&.star-yellow{color:#EFDD55;}}
/* ------------ variables */

@bgColor : #E8EAE5;
@red : #D50032;
@white : #fff;
@lightgrey : #F2F2F2;
@altgrey : #B3B3B3;
@darkergrey : #E8EAE5;
@mediumgrey : #E6E6E6;
@borderColor : fade(#000,10%);
@grey : #747475;
@black : #1A1A1A;
@blacker: #050402;
@pink : #EF7778;
@green : #85B140;
@blue: #D6EAF3;
@blueEvent : #0071BC;
@greyCCC : #CCC;
@grey80 : #808080;
@facebook : #3B5998;
@onDemand : #29ABE2;
@orange : #ff9866;

@spriteUrl : "../img/compressed/sprite.png";
@spriteColorsUrl : "../img/compressed/list-colors.png";

@break-large:1260px;
@break-medium:980px;
@break-small:768px;

@font-size: 100%;
@font-10  : 70%;
@font-11  : 79%;
@font-12  : 83%;
@font-14  : @font-size;
@font-16  : 114%;
@font-20  : 140%;
@font-25  : 180%;
@font-30  : 210%;
@font-32  : 230%;
@font-40  : 290%;

/* ------------ general */

*{ font-family:montserrat; font-size: @font-size; }

html, body {
  margin: 0;
  min-height: 100%;
}

body{
  position:relative;
}

a:active, a:focus{text-decoration:none;}

.clear{clear:both;}
.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

ul,li{list-style-type: none;padding:0;}
a{
  color:@grey;
  &:hover{text-decoration:none;color:@grey;}
}
a:focus{
  color:@grey;
}

input, select{
  -webkit-appearance: none;
  -moz-appearance : none;
}

select{
  background: url(../img/compressed/select-bg.png) right -1px no-repeat;
  background-color:@white;
  outline:0;
}

input[type="text"]:focus{
  outline:1px solid @greyCCC;
}

input[type="text"]{
  &.error{
    border-color:@red !important;
  }
}

.error-message-light{
  clear: both;
  margin:10px 0;
  color:@red !important;
  font-size:@font-12;
  font-weight:bold;
}

.error-message{
  .error-message-light;
  padding: 10px;
  margin:10px 0;
  background: fade(@red,10);
  border: 1px solid @red !important;
  font-weight:normal;
  &.error-message-no-bg{
    color:@grey !important;
    padding:18px 10px;
    background:transparent;
  }
}

h2,.span-title{margin:0;text-transform:uppercase;font-size:@font-20;color:@white;}
.span-bold{ font-weight:bold; }
.red{ color:@red; }
.blocks{
  width:300px;
  height:300px;
}

.close{
  opacity:1;
  .icon-close{color:@grey;}
}

.no-scroll{ overflow:hidden; }

#toggler { display:none; }
.more label:before { font-family:"4pieds-icon"; content:"\e919"; }
.more label:after { content:"lire la suite"; padding-left:5px; }
.more label{ cursor:pointer; font-weight:normal; color:@black; }
.more p{ transition:max-height 0.25s ease-in; }
.more p:nth-child(n+2) { max-height:0 ; margin-bottom:0; overflow:hidden ;}
#toggler:checked ~ .more p:nth-child(n+2) { max-height:600px; margin-bottom:10px; }
#toggler:checked ~ .more label { opacity:0;display:none; }

#products-stock-swiper, #top-products{
  position:relative;
}

.swiper-navigation-right{
  position: absolute;
  top: 35%;
  right: 0;
  font-size: 20px;
  background-color: #fff;
  width: 50px;
  height: 80px;
  z-index:1;
}

.swiper-navigation-container{
  position:relative;
  background-color: #fff;
  width: 50px;
  height: 80px;
  padding: 28px 11px;
  cursor:pointer;
  span{
    color:@grey;
  }
  &:before,&:after{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 17px;
    border-radius: 10px;
  }
}

.breadcrumb-4pieds{
  padding-top:10px;
  padding-left:10px;
  width: 320px;
  overflow: hidden;
  ul{
    li{
      float:left;
      margin-right:5px;
      color:@grey;
      a{
        color:@grey;
        font-size:@font-12;
      }
      &:after{
        font-family:"4pieds-icon";
        content: "\e918";
        color:@darkergrey;
        margin-left: 5px;
        font-size:@font-12;
      }
      &:last-child{
        &:after{content:"";}
      }
    }
    h1{
      font-size:@font-16;
      font-weight:bold;
      margin: 11px 0 0;
      line-height: 18px;
    }
    #product-reference{ font-size:@font-11; }
  }
}

#breadcrumb-order{
  ul{
    li{
      max-width:70px;
    }
  }
}

.category-sort-button{
  outline:0;
  width:100%;
  border-radius:40px;
  background-color:@mediumgrey;
  border:0;
  padding:10px 25px;
  text-align:left;
  margin-top:20px;
  .icon-zoom{color:@grey;font-size:190%;display:inline-block;float:left;margin:5px 15px 0 0;}
  span{
    &:nth-child(2){
      color:@grey;
      float: left;
      display: block;
      line-height: 14px;
      padding-top: 4px;
      font-size:@font-11;
      strong{
        font-size:127%;
        text-transform: uppercase;
        display:block;
      }
    }
  }
}

/* select custom */

.customSelect{
  height: 40px;
  width: 298px;
  background: url(../img/compressed/sprite.png) -58px -715px no-repeat;
  padding:13px 20px 10px 10px;
  border-left: 1px solid @greyCCC;
  font-size:@font-12;
  display: block;
}

.customSelect.customSelectHover {
}
.customSelect.customSelectOpen {
  background-position: -58px -763px;
}
.customSelect.customSelectFocus {
}
.customSelectInner {
  width:100% !important;
}

/* ----------- sprites */

.sprite-menu{
  .sprite-size(66px,60px);
  margin:0 auto -2px;
}

.sprite-chaises{
  .sprite-menu;
  .s(-127px,0,@spriteUrl);
}
.sprite-tabourets{
  .sprite-menu;
  .s(-195px,0,@spriteUrl);
}
.sprite-tables{
  .sprite-menu;
  .s(-260px,0,@spriteUrl);
}

.sprite-menu-float{
  .sprite-size(42px,42px);
  margin:0 auto;
}

.sprite-stores{
  .sprite-size(25px,25px);
  margin:0 auto 17px;
  .s(-224px, -71px,@spriteUrl);
  background-size: 720px;
}
.sprite-account{
  .sprite-size(25px,25px);
  margin:0 auto 17px;
  .s(-224px, -48px,@spriteUrl);
  background-size: 720px;
}
.sprite-account-logged{
  .sprite-size(25px,25px);
  margin:0 auto 17px;
  .s(-249px, -48px,@spriteUrl);
  background-size: 720px;
}
.sprite-cart{
  .sprite-menu-float;
  .s(-91px,0,@spriteUrl);
}

.sprite-cart-white{
  .sprite-menu-float;
  .s(-31px,-184px,@spriteUrl);
}

.sprite-operator-blue{
  .sprite-size(64px,70px);
  .s(-61px,-41px,@spriteUrl);
}

.sprite-mail-blue{
  .sprite-size(64px,46px);
  .s(-3px,-41px,@spriteUrl);
}

.sprite-social{
  .sprite-size(30px,30px);
  float:left;
}

.sprite-social-twitter{
  .sprite-social;
  .s(-125px,-59px,@spriteUrl);
}

.sprite-social-pinterest{
  .sprite-social;
  .s(-170px,-59px,@spriteUrl);
}

.sprite-social-instagram{
  .sprite-social;
  .s(-210px,-59px,@spriteUrl);
}

.sprite-social-facebook{
  .sprite-social;
  .s(-257px,-59px,@spriteUrl);
}

.sprite-engagement{
  .sprite-size(120px,120px);
  margin: 0 auto;
}

.sprite-engagement-truck{
  .sprite-engagement;
  .s(-984px,-706px,@spriteUrl);
}

.sprite-engagement-clock{
  .sprite-engagement;
  .s(-491px,-706px,@spriteUrl);
}

.sprite-engagement-delivery{
  .sprite-engagement;
  .s(-852px,-699px,@spriteUrl);
}

.sprite-engagement-card{
  .sprite-engagement;
  .s(-739px,-693px,@spriteUrl);
}

.sprite-engagement-sample{
  .sprite-engagement;
  .s(-613px,-706px,@spriteUrl);
}

.sprite-engagement-operator{
  .sprite-engagement;
  .s(-367px,-706px,@spriteUrl);
}

.sprite-satisfaction-clock{
  .sprite-size(50px,50px);
  float:left;
  .s(-62px, -112px,@spriteUrl);
}
.sprite-satisfaction-thumb {
  .sprite-size(60px,50px);
  float:left;
  .s(-414px, -398px,@spriteUrl);
}
.sprite-chair-size{
  .sprite-size(300px,300px);
  .s(-1068px, 0,@spriteUrl);
}

.sprite-personalize{
  .sprite-size(24px,24px,inline-block);
  .s(1px, -198px,@spriteUrl);
}

.sprite-paypal{
  .sprite-size(90px,25px);
  float: left;
  margin-right:20px;
  .s(-72px, -196px,@spriteUrl);
}

.sprite-cb{
  .sprite-size(166px,25px);
  margin-right:20px;
  .s(-175px, -196px,@spriteUrl);
}

.sprite-serenity{
  .sprite-size(52px,52px);
}

.sprite-serenity1{
  .sprite-serenity;
  .s(-6px, -396px,@spriteUrl);
}

.sprite-serenity2{
  .sprite-serenity;
  .s(-6px, -455px,@spriteUrl);
}

.sprite-serenity3{
  .sprite-serenity;
  .s(-497px, -143px,@spriteUrl);
}

.sprite-serenity4{
  .sprite-serenity;
  .s(-6px, -572px,@spriteUrl);
}

.sprite-order-completed-social{
  .sprite-size(40px,40px);
}

.sprite-order-completed-twitter{
  .sprite-order-completed-social;
  .s(-70px, -404px,@spriteUrl);
}

.sprite-order-completed-facebook{
  .sprite-order-completed-social;
  .s(-68px, -454px,@spriteUrl);
}

.sprite-order-completed-mail{
  .sprite-order-completed-social;
  .s(-64px, -358px,@spriteUrl);
}

.sprite-product-share{
  .sprite-size(30px,30px);
  .s(-120px, -396px,@spriteUrl);
}

.sprite-product-share-style{
  .sprite-size(50px,50px);
}

.sprite-product-share-facebook{
  .sprite-product-share-style;
  .s(-150px, -396px,@spriteUrl);
}

.sprite-product-share-twitter{
  .sprite-product-share-style;
  .s(-150px, -446px,@spriteUrl);
}

.sprite-product-share-pinterest{
  .sprite-product-share-style;
  .s(-150px, -496px,@spriteUrl);
}

.sprite-product-share-instagram{
  .sprite-product-share-style;
  .s(-150px, -546px,@spriteUrl);
}

.sprite-product-share-google{
  .sprite-product-share-style;
  .s(-150px, -596px,@spriteUrl);
}

.sprite-product-share-other{
  .sprite-product-share-style;
  .s(-150px, -646px,@spriteUrl);
}

.sprite-footer-social-facebook{
  .sprite-product-share-style;
  .s(-271px, -396px,@spriteUrl);
}

.sprite-footer-social-twitter{
  .sprite-product-share-style;
  .s(-271px, -446px,@spriteUrl);
}

.sprite-footer-social-pinterest{
  .sprite-product-share-style;
  .s(-271px, -496px,@spriteUrl);
}

.sprite-footer-social-instagram{
  .sprite-product-share-style;
  .s(-271px, -546px,@spriteUrl);
}

.sprite-map{
  .sprite-size(40px,40px);
  .s(-217px, -398px,@spriteUrl);
}

.sprite-delivery{
  .sprite-size(64px,66px);
  width:64px !important;
  .s(-207px, -442px,@spriteUrl);
}

.sprite-bubble{
  .sprite-size(24px,20px);
  .s(-228px, -528px,@spriteUrl);
  float: left;
  margin-left: 7px;
}

.slide-sprite{
  .sprite-size(60px,60px);
  background-color:@white;
  float:left;
  &.sprite-slide-loupe{
    .s(-57px, -504px,@spriteUrl);
  }
  &.sprite-slide-metre{
    .s(-57px, -555px,@spriteUrl);
  }
  &.sprite-slide-cart{
    .s(-57px, -604px,@spriteUrl);
  }
}

.sprite-callback{
  .sprite-size(25px,25px);
  background-size:720px;
  .s(-299px, -46px,@spriteUrl);
}

.sprite-chat{
  .sprite-size(25px,25px);
  background-size:720px;
  .s(-347px, -46px,@spriteUrl);
}

.sprite-write-us{
  .sprite-size(25px,25px);
  background-size:720px;
  .s(-323px, -46px,@spriteUrl);
}

.sprite-contact-us{
  .sprite-size(25px,25px);
  background-size:720px;
  .s(-274px, -46px,@spriteUrl);
}

.sprite-info-message{
  .sprite-size(41px,41px);
  .s(-123px, -121px,@spriteUrl);
  float:left;
  margin-top:-12px;
  margin-right:15px;
}
/* -- Classes générales */

.menu-item{
  width:78px;
  height:60px;
  float:left;
  text-align:center;
  border-bottom:5px solid @bgColor;
  position:relative;
  transition:0.2s;
  &:hover, &.active{ border-color:@red; }
  &:first-child{width:60px;margin-right:11px;}
  &:nth-child(2){margin-right:4px;}
  a{
    display:block;
    text-transform: uppercase;
    color:@red;
    font-weight:bold;
    font-size:79%;
    text-decoration:none;
    letter-spacing:0;
  }
}

.grey-triangle(){
  &:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #B3B3B3 transparent transparent;
    bottom: 13px;
    left: 46%;
  }
}

.product{
  width:250px;
  position:relative;
  .product-img{
    border-bottom:1px solid @grey;
    width:100%;
    img{ width:100%; height:auto; }
    .promo{
      img{ width:auto;height:auto; }
    }
  }
  .promo{
    position:absolute;
    top:0;
    right:0;
  }
  .product-alt-colors{
    text-align:left;
    font-size:@font-12;
    height:40px;
    margin-bottom:15px;
    width:25%;
    float:left;
    display:block;
    border:1px solid @greyCCC;
    border-right:0;
    .sprite-personalize{
      margin-top: 3px;
      margin-left: 0;
    }
    .product-alt-colors-label{
      strong{
        float:left;
        padding-left:25px;
      }
      color:@altgrey;
      font-size:@font-14;
      display: block;
      height: 30px;
      text-align: left;
      padding-left: 3px;
      padding-top: 0;
      margin: -25px 0 0 1px;
      float: left;
    }
  }
  .product-color-selector{
    width:75%;
    height:40px;
    border:1px solid @greyCCC;
    border-left:0;
    float:left;
    padding:5px;
    background: url(../img/compressed/select-bg.png) right -1px no-repeat;
    background-color:@white;
    outline:0;
    li{
      width:100%;
      .product-color-selector-submenu{
        display:none;
        margin-top: 5px;
        background-color: #fff;
        border: 1px solid #CCC;
        border-top: 0;
        width: 250px;
        margin-left: -68px;
        li{
          padding:5px 5px 5px 66px;
          border-bottom:1px solid @greyCCC;
          &:first-child{
            display:none;
          }
        }
      }
      .product-select-color-style{
        width:30px;
        height:30px;
        float: left;
        margin-right: 10px;
      }
      .product-select-color-label{
        font-size:@font-12;
        height:30px;
        display:table-cell;
        vertical-align: middle;
      }
    }
  }
  p{
    font-size:@font-12;
    text-align:center;
    &.product-title{
      padding:10px 0 5px;
      height:45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      a{
        color:@black;
      }
    }
    &.product-price{
      font-size:@font-16;
      //.price-old;
      //.price;
      //.product-tag;
    }
  }
  .wishlist-details{
    background-color:@darkergrey;
    padding:20px;
    .wish-product-color{
      display: block;
      height: 40px;
      padding-top: 10px;
      .product-select-color-style{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 15px;
        margin-top: -10px;
      }
    }
    p{
      text-align:left;
      color:@grey;
      margin-bottom:20px;
    }
    form{
      fieldset{
        width:70px;
        float:left;
        margin-right:25px;
        select{
          width: 100%;
          border: 1px solid #ccc;
          padding: 5px 10px;
          background-position: 43px -5px;
        }
      }
      .product-add-cart{
        background-color:@grey;
        font-size:@font-12;
        padding:7px 25px;
        .product-label-add-cart{
          padding-top:5px;
        }
      }
    }
  }
}

.product-select-color-style{
  display:block;
  float:left;
  width:50px;
  height:50px;
  .s(0,0,@spriteColorsUrl);
}
.generate-colors(@nbColors);
.product-select-more{
  font-size:300%;
  background-color:@grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-old{ text-decoration: line-through; color:@grey; }
.price-new{ margin-left:10px; color:@red; font-weight:bold; }
.price{ color:@black; font-weight:bold; }

.product-tag{
  font-size:@font-12;
  padding:2px 5px;
  margin-left:3px;
  &.en-stock{
    background-color:@green;
    color:@white;
  }
  &.on-demand{
    color:@white;
    background-color:@onDemand;
  }
}

.black-rounded-button{
  font-size:@font-14;
  background-color:@black;
  border-radius: 30px;
  padding: 15px 28px;
  border:0;
  color:@white;
  text-transform:uppercase;
  font-weight:bold;
  transition: background-color 0.2s ease-in;
  &:hover{
    background-color:fade(@black,90);
  }
}

.grey-rounded-button{
  .black-rounded-button;
  display:block;
  background-color:fade(#000,10);
  margin:10px auto;
}

.darkgrey-rounded-button{
  .black-rounded-button;
  display:block;
  background-color:@grey;
}

.white-rounded-button{
  .black-rounded-button;
  background-color:@white;
  color:@grey;
  &:hover{
    background-color:fade(@black,5);
  }
}

.input-my-account{
  width:100%;
  padding:14px 13px;
  margin:10px 0;
  border: 1px solid @darkergrey;
  color:@grey;
  display:block;
}

.product-add-cart{
  .black-rounded-button;
  .icon-cart{
    font-size: 182%;
    margin-right: 7px;
    display: block;
    float: left;
  }
  .product-label-add-cart{
    padding-top:3px;
    display:inline-block;
  }
}

.menu-grid-item{
  display:block;
  width:100px;
  height:100px;
  border-top:1px solid @borderColor;
  border-right:1px solid @borderColor;
  float:left;
  text-align:center;
  .menu-picto{
    /*width: 45px;
    height: 45px;*/
    margin: 0 auto;
    display:block;
  }
  a{
    font-size:90%;
    line-height: 15px;
    display: block;
    height: 100%;
    width:100%;
    &:hover{
      color:@black;
      background:@borderColor;
    }
  }
}

.list-link-product{
  margin:0;
  li{
    background-color:@red;
    height:100px;
    border-bottom:1px solid fade(@white,15);
    .icon-chaises, .icon-table, .icon-tabouret{font-size:500%;color:@white;}
    a{
      font-size:@font-12;
      text-transform:uppercase;
      color:@white;
      display:block;
      height:100%;
      span{
        strong{display:block;}
        &:first-child{
          display:inline-block;
          padding: 20px 0 0 15px;
          float:left;
        }
        &:nth-child(2){
          overflow:hidden;
          display:inline-block;
          width:115px;
          margin:20px 0 0 20px;
          font-size: 138%;
          line-height: 20px;
        }
        &:last-child{
          display:inline-block;
          float:right;
          margin-right:15px;
          margin-top:43px;
          transition:0.5s;
        }
      }
    }
  }

  li:hover{
    a{
      span{
        &:last-child{
          margin-right:5px;
        }
      }
    }
  }

}

.swiper-pagination{
  z-index:2;
}
.pagination-style{
  clear:both;
  >span{ color:@grey;font-size:@font-12; text-transform: uppercase; text-align:center; width: 100%; display:block; letter-spacing: 0.29px; }
  ul{
    margin-top:20px;
    text-align:center;
    li{
      text-align:center;
      display:inline-block;
      margin-bottom:15px;
      margin-right:10px;
      height:45px;
      a{
        background-color:@lightgrey;
        padding:5px 15px;
        color:@grey;
        display:inline-block;
        font-size:@font-25;
        vertical-align:top;
      }
      &.active{
        a{
          background-color:@white;
        }
      }
    }
  }
}

.checkbox-style{
  display:block;
  float:left;
  width:13px;
  height:13px;
  .s(-5px, -332px,@spriteUrl);
  &.checked{
    background-position: -5px -345px;
  }
  input{
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity:0;
  }
}

.radio-style{
  display:inline-block;
  width:17px;
  height:17px;
  .s(-215px, -353px,@spriteUrl);
  &.checked{
    background-position: -215px -333px;
  }
  input{
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

#overlay{
  background-color:fade(#000,20);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index:198;
}

.select-style{
  outline:0;
  padding:10px;
  border:0;
  width:100%;
}

.storelocator-style{
  background-color:@darkergrey;
  margin-top:40px;
  padding:0;
  .span-title{ color:@black; margin-bottom:20px; display:block; }
  .storelocator-select{
    padding:10px;
    select{
      .select-style;
      text-transform: uppercase;
      font-weight: bold;
    }
    hr{
      border:0;
      height:1px;
      width:280px;
      background-color:fade(#000,10);
    }
  }
  .storelocator-infos{
    padding:10px 10px 20px;
    .storelocator-city{
      font-size:@font-20;
      font-weight:bold;
      color:@red;
      text-transform:uppercase;
    }
    .storelocator-adress{
      color:@red;
      font-size:@font-12;
    }
    .storelocator-hours{
      font-size:@font-20;
      font-weight:bold;
      line-height:19px;
      color:@green;
      margin: 15px 0 12px 0;
      small{
        font-size:80%;
      }
    }
    .storelocator-phone{
      color:@red;
      font-size:@font-20;
      font-weight: bold;
      padding-top: 10px;
      letter-spacing: 0.5px;
      display: block;
    }
    .storelocator-opening{
      background-color:@green;
      color:@white;
      text-align:center;
      font-size:@font-16;
      font-weight:bold;
      text-transform:uppercase;
      padding:5px 5px;
      line-height: 19px;
    }
    a{
      margin-top:10px;
      padding:5px 9px;
      display:inline-block;
      border:1px solid @red;
      color:@red;
      transition:0.5s;
      &:hover{
        background-color:@red;
        color:@lightgrey;
      }
    }
  }
  #storelocator-map-container{
    position:relative;
    overflow:hidden;
    #storelocator-map-fullscreen{
      position:absolute;
      right:15px;
      top:15px;
      z-index:2;
    }
  }
  #storelocator-map, #menu-desktop-storelocator-map{
    width:100%;
    height:320px;
  }
}

/* ------------ functions */
.s(@l:left, @h:top, @img:"../images/s.png") {
  background-image:url(@img);
  background-repeat:no-repeat;
  background-position: @l @h;
}

.sprite-size(@w:10px, @h:10px, @d:block){
  width:@w;
  height:@h;
  display:@d;
}

.boxshadow(@x:1px, @y:1px, @z:10px, @spread:0px, @a:rgba(0,0,0,0.5)) {
  -moz-box-shadow: @x @y @z @spread @a;
  -webkit-box-shadow: @x @y @z @spread @a;
  -o-box-shadow: @x @y @z @spread @a;
  box-shadow: @x @y @z @spread @a;
}

@nbColors: 30;
.generate-colors(@n) when (@n > 0){
  .product-select-color@{n}{
    background-position:(  ( @n - ( floor(@n / 5) * 5 ) ) * -50px ) ( (floor( @n / 5 ) ) * -50px) !important;
  }
  .generate-colors(@n - 1);
}
