@import url('mixins.less');


/* -------Header et Menus*/
#white-header{
  position:relative;
  z-index:200;
  display:none;
  background-color:@white;
  div:first-child{
    span{display:none;}
  }
}

header{
  width:100%;
  height:auto;
  background-color:@bgColor;
  padding:0 0 0 10px;

  #logo{
    margin:10px 0 0;
    float:left;
    img{ width:60px; height:60px; }
  }

  #mobile-header{
    overflow:hidden;
    p{
      font-size:@font-12;
      margin:0;
      padding-left:10px;
      color:@grey;
      height:30px;
      line-height: 34px;
    }
  }

  #menu, #desktop-menu{
    clear:left;
    padding:11px 0 8px 0;
    ul{width:100%;margin:0;padding:0;}
    li{
      .menu-item;
      .menu-item{
        a{
          display:block;
          height:60px;
        }
        .cart-price{
          padding-top: 4px;
          padding-left: 15px;
          display: block;
          font-size: 150%;
          letter-spacing: 1.5px;
        }
        .icon-chaises, .icon-tabouret, .icon-table{
          font-size:500%;
          color:@grey;
          display: block;
          height: 60px;
          width: 60px;
          margin: 0 auto;
        }
        .icon-tabouret{ font-size:450%; }
      }
      height:80px;
      .menu-item-label{
        padding: 6px 0 0 9px;
        display: block;
        letter-spacing: 1px;
      }
    }
    .only-small{
      width:60px;
      float:left;
      margin-right:11px;
    }
    .btn-menu{
      display:block;
      width:100%;
      height:100%;
      padding-top:20px;
      text-align:center;
      .icon-menu{
        font-size:35px;
        color:@grey;
      }
    }
  }

  form{
    overflow:hidden;
    margin:0 10px;
    input[type="text"]{
      border:0;
      height:40px;
      float:left;
      width: 100%;
      padding-left:5px;
      padding-right: 43px;
    }
    .search-submit{
      display: block;
      vertical-align: middle;
      width: 39px;
      height: 36px;
      background-color: @white;
      text-align: center;
      margin-left: -41px;
      float: left;
      padding-top: 8px;
      margin-top: 2px;
    }
    .icon-search{ font-size:@font-20; }
  }

  .mobile-cart{
    float:right;
    display: block;
    width:30px;
    position:relative;
    margin-right: 15px;
    margin-left: 10px;
    .icon-cart{
      font-size:190%;
      color:@grey;
      margin-top: 7px;
      display: block;
    }
    .cart-notifications{
      top: 0;
      right: -11px;
      padding: 2px 0 0 7px;
      font-size: 90%;
    }
  }

}

#slider-home{
  .swiper-slide{ 
   background-size:cover !important;
   a{
     display:block;
     position:absolute;
     width:100%;
     height:100%;
   }
 }
}

#wrapper{
  width:100%;
  overflow:hidden;
  clear:both;
}

.slider{
  position:relative;
  width:auto;
  overflow:hidden;
  height:520px;
  #event-bar{
    position:relative;
    z-index:2;
    top:0;
    left:0;
    height:70px;
    width:100%;
    text-align:center;
    #event-bar-content{
      padding-top:4px;
      font-size:@font-12;
      strong{
        padding: 5px 10px;
        font-weight: bold;
        display: block;
        height: 22px;
        width: 190px;
        margin: 0 auto 5px
      }
      a{
        color:@white;
        text-decoration:underline;
      }
    }
  }
  .slide-content{
    position:absolute;
    top:40px;
    left:0;
    right:0;
    bottom:0;
    margin:0 auto;
    width:280px;
    text-align:center;
    .slide-title{
      font-size:@font-25;
      color:@white;
      text-transform:uppercase;
      font-weight:bold;
      text-align:center;
    }
    ul{
      margin-top:30px;
      li{
        height:60px;
        margin-bottom:25px;
        text-align:left;
        .slide-sprite{
          margin-right:10px;
        }
        .slide-label{
          color:@white;
          display:table-cell;
          vertical-align:middle;
          height:60px;
          strong{
            text-transform:uppercase;
            display:block;
            font-size:@font-20;
          }
          small{
            font-size:@font-12;
          }
        }
      }
    }
  }
}

.swiper-pagination-bullet{
  opacity:1;
  background-color:@white;
  width:15px;
  height:15px;
}
.swiper-pagination-bullet-active{ background-color:@red; }

/* --- Breadcrumb / Fil d'arianne */

#breadcrumb-order{
  li{
    &.active{
      width:auto;
      max-width:none;
      a{
        font-size:@font-16;
        font-weight:bold;
        text-transform:uppercase;
      }
    }
  }
}

/* Menu caché ( mobile/tablette ) */

#menu-float{
  background-color:@bgColor;
  position:fixed;
  left:-110%;
  top:0;
  right:0;
  bottom:0;
  width:320px;
  box-sizing:border-box;
  transition:left 0.5s;
  overflow-y:scroll;
  z-index:200;
  &:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    .boxshadow(0,5px,10px,0,rgba(0,0,0,0.20));
    z-index:-1;
  }
  .close{
    position:absolute;
    right: 23px;
    top: 23px;
    font-size: 14px;
    opacity:0.8;
  }

  #top-menu-float li{
    width:25%;
    border-left:1px solid @borderColor;
    float:left;
    padding:11px 9px 12px;
    box-sizing:border-box;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    position:relative;
    &:first-child{border:0;}
    &:last-child{ width:26%; }
    a{
      color:@black;
      font-size:@font-12;
      line-height: 14px;
      display: block;
      span:first-child{
        margin-bottom:7px;
      }
    }
    a#top-menu-float-cart{
      .icon-cart{
        font-size: 245%;
        width: 40px;
        height: 31px;
        display: block;
        margin-top: 11px;
        margin-left:4px;
      }
      .cart-notifications{
        top: 15px;
        right: 21px;
        padding: 3px 0 0;
        font-size: 106%;
      }
    }
  }

  ul{ margin:0; padding:0; }
  #core-menu-float{
    clear:left;

    .menu-red-block{
      width:50%;
      height:60px;
      float:left;
      color:#fff;
      background-color:@red;
      box-sizing:border-box;
      padding: 22px 10px 15px;
      font-weight:bold;
      font-size:88%;
      &:first-letter{text-transform:capitalize;}
      small{font-weight:normal;}
      &:first-child{border-right:1px solid @borderColor;}
      .icon-mail, .icon-phone{
        font-size: 208%;
        display: block;
        float: left;
        margin-right: 12px;
        margin-top: -5px;
      }
      .icon-phone{font-size:150%;padding-bottom:20px;}
    }

    >li>a{
      display:table-cell;
      width:300px;
      height:59px;
      vertical-align:middle;
      padding-left:20px;
      color:@grey;
      text-transform:uppercase;
      font-weight:bold;
      text-decoration:none;
      font-size:@font-16;
      .red{ color:@red; }

    }
    .submenu{
      background-color:#fff;
      max-height:0;
      overflow:hidden;
      transition:max-height 0.5s ease-out;
      padding:0 10px;
      box-sizing:border-box;
      a{ color:@grey; text-decoration:none; }
      >li>ul>li>a{ display:inline-block; margin:7px 0;font-size:@font-12; }
      li.submenu-grid a{ margin:0; }
      h5{ font-weight: bold; text-transform:uppercase; font-size:110%; margin-top:20px; }
      .submenu-grid{
        li{
          .menu-grid-item;
          &:nth-child(3n+1){
            border-left:1px solid @greyCCC;
          }
        }

      }
      &.active{
        border-top:1px solid @borderColor;
        max-height:1500px;
        padding:10px;
      }
      >li{
        width:100%;
        float:left;
        display:block;
      }
    }
    .btn-submenu{
      .icon-plus, .icon-minus{
        font-size:110%;
        float:right;
        display:inline-block;
        margin-top: 2px;
        margin-right: 1px;
      }
    }
  }
  #core-menu-float>li{
    list-style-type:none;
    width:100%;
    border-bottom:1px solid @borderColor;
    min-height:60px;
    &:first-child{
      min-height:61px;
    }

  }
}


.cart-notifications{
  font-family:montserrat;
  display:block;
  border-radius:10px;
  font-size:125%;
  width:22px;
  height:22px;
  background-color:@red;
  color:@white;
  box-sizing: border-box;
  padding:1px 0 0 1px;
  position:absolute;
  top:22px;
  right:20px;
}

/* --------------- Home */

#wrapper{
  //Top Products

  #top-products{
    padding-left:10px;
    h2{
      color:@red;
      font-size:@font-20;
      margin: 40px 0 30px;
    }
    .product;
    width:auto;
  }

  // Made in France

  #made-in-france{
    margin-top:43px;
    #made-in-france-wrapper{
      height:300px;
      background: transparent url('../img/compressed/made-in-france-bg.jpg') no-repeat -215px top;
      #made-in-france-content{
        padding:12px;
      }
      .span-title{ font-size:220%; display:block; line-height:36px; margin-top:15px; }
      p{ color:@white; font-size:@font-16; margin-top:5px; }
    }
    #made-in-france-sidelinks{
      .list-link-product;
    }
  }

  // Bloc carrés promos / newsletter

  .square-blocks-container{
    padding:10px 0 0 0;
    width: 300px;
    margin: 0 auto;
    .square-block{
      padding:20px 18px;
      margin-bottom:10px;
      .blocks;
      &.no-padding{padding:0;}
    }
    #square-block-newsletter{
      background-color:@pink;
      #newsletter-intro{
        margin-top:-10px;
        position:relative;
        height:104px;
        width:100%;
        #newsletter-text1{ position:absolute; top:0; left:20px; font-size:160%; font-weight:bold; }
        #newsletter-promo{ position:absolute; top:5px; left:0px; font-size:600%; font-weight:bold; }
        #newsletter-text2{ position:absolute; top: 66px; left: 119px; }
      }
      p{
        color:@white;
        line-height:16px;
        margin:5px 0 5px 0;
      }
      select{
        .select-style;
        margin-top:3px;
      }
      #newsletter-inputs{
        width:100%;
        background-color:@white;
        display:inline-block;
        margin-top:5px;
        input[type="text"]{
          border:0;
          outline:0;
          width:170px;
          padding:10px 9px;
        }
        input[type="submit"]{
          padding:5px 7px;
          border:5px solid @white;
          background-color:@pink;
          float:right;
        }
      }

    }
    #square-block-satisfaction{
      background-color:@lightgrey;
      padding: 18px 14px;
      text-align:center;
      >img{margin-top:-4px;}
      .span-title{color:@grey;letter-spacing:0.5px;}
      div{
        color:@grey;
        text-align:left;
        margin-top: 5px;
        >span:first-child{
          margin-top: -7px;
          margin-left: 5px;
        }
        p{
          margin-left: 12px;
          float: left;
          font-size: 83%;
          padding-top: 5px;
          line-height: 16px;
          letter-spacing: 0.3px;
          span{
            font-weight:bold;
            display:block;
            text-transform:uppercase;
          }
        }
      }

    }
    #square-block-personalize{
      background-color:@red;
      color:@white;
      .span-title{line-height:19px;letter-spacing:0.8px;margin:0 0 10px 0;}
      li{
        clear:left;
        span{
          display:inline-block;
          float:left;
          width:75px;
          text-align:center;
          font-size:220%;
          padding:19px 0;
        }
        p{
          font-size:@font-12;
          padding-top:15px;
          padding-left: 85px;
          strong{display:block;text-transform:uppercase;}
        }
      }
    }
    #block-blog{
      .blocks;
      background:transparent url(../img/compressed/bloc-blog.jpg) no-repeat -210px top;
      padding:20px;
      margin-bottom:90px;
      cursor:pointer;
      &:hover{
        a{
          color:@grey;
          background-color:@white;
        }
      }
      .span-title{
        color:@white;
        font-size:@font-25;
      }
      a{
        display:inline-block;
        padding:5px 9px;
        border:1px solid @white;
        margin:57px auto 15px;
        color:@white;
        transition:0.5s;
      }
      p{
        color:@grey;
        margin-left:-20px;
        padding-top:5px;
        font-size:@font-12;
      }
    }
    #block-contact{
      background-color:@blue;
      .blocks;
      padding:20px 15px;
      .span-title{
        color:@grey;
        margin-bottom:20px;
        display:block;
      }
      .sprite-operator-blue, .sprite-mail-blue{
        display:block;
        float:left;
        margin-right:10px;
      }
      p{
        color:@red;
        font-size:@font-20;
        .contact-infos{
          display:block;
          font-size:60%;
        }
        .contact-hours{
          font-size:60%;
          color:@grey;
        }
      }
      ul{
        li{
          &:nth-child(2){
            p{
              padding-top:10px;
            }
          }
        }
      }
      hr{
        border:0;
        height:1px;
        width:260px;
        margin-top:22px;
        display:block;
        clear:left;
        background-color:fade(#000,10);
      }
      #contact-social{
        h4{
          color:@grey;
        }
        .contact-social-list{
          display:flex;
          justify-content: center;
          a{
            display:block;
            width:30px;
            height:30px;
            float:left;
            margin-right:15px;
          }
        }
      }
    }
  }

  #products-stock{
    padding-left:10px;
    h2, .span-title{
      display:block;
      color:@green;
      margin:30px 0 30px;
      letter-spacing:0.5px;
      small{ font-weight:normal; color:@green; display:block;font-size:60%;text-transform:none; }
    }
    h2{letter-spacing:0.6px;}
    #products-stock-more{
      ul{
        .list-link-product;
        margin-left:-10px;
        li{
          background-color:@green;
          span{
            &:nth-child(2){
              padding-top:10px;
            }
          }
        }
      }
    }
    #products-stock-swiper{
      //.product;
    }
  }

  .storelocator{
    .storelocator-style;
  }

  #engagement{
    margin-top:50px;
    background-color:@white;
    padding:10px;
    .span-title{
      color:@red;
      text-align:center;
      display:block;
      padding:20px 0 30px;
    }
    ul{
      li{
        float:left;
        width:50%;
        text-align:center;
        font-size:@font-16;
        font-weight:bold;
        color:@grey;
        text-transform:uppercase;
        line-height: 19px;
        margin-bottom:35px;
        &:nth-child(2n+1){
          clear:left;
        }
      }
    }
    .message_cgv{
      display:block;
      font-size:@font-11;
      color:@grey;
    }
  }

  #welcome{
    padding:0 10px;
    margin-top:50px;
    h2{
      color:@grey;
    }
    p{
      margin-top:20px;
      color:@grey;
    }
    label{font-size:@font-12;}
  }

}

/* ---- Page Product */

#product-container{
  padding:10px;
  width:320px;
  margin: 0 auto 19px;
  overflow:hidden;
  position:relative;
  #product-big-img{
    width:300px;
    float:left;
    color:@grey;
    img{
      width:100%;
      height:auto;
    }
    #product-code{
      font-size:@font-11;
      color:@grey;
    }
  }
  #product-gallery{
    clear:both;
    width:100%;
    position:relative;
    padding-top: 24px;
    .swiper-slide{
      width:250px;
      &.small-imgs{
        width:auto;
        img{
          display:block;
          float:left;
          margin-right:18px;
          &:last-child{margin-right:0;}
        }
      }
      img{
        width:250px;
        height:250px;
      }
    }
    .swiper-navigation-right{right:-20px;}
  }
  .product-also-seen{
    clear:both;
    padding-top:16px;
    position:relative;
    .span-title{
      color:@red;
      display:block;
      margin-bottom:35px;
      letter-spacing: 0.3px;
      line-height: 22px;
    }
  }
  #product-infos{
    width:300px;
    float:left;
    .product-price{
      width:50%;
      float:left;
      color:@grey;
      .price-old{
        margin-top: 8px;
        display: block;
        margin-left: 5px;
        sup{
          font-size:65%;
        }
      }
      .price, .price-new{
        display:block;
        font-size:@font-32;
        margin-top: -5px;
        margin-left: 3px;
        sup{ font-size:75%; }
      }
      .price-details{
        font-size:@font-11;
        display:block;
        color:@altgrey;
      }
    }
    .product-price-extra{
      clear:both;
      .price-credit{
        font-size:@font-16;
        font-weight:bold;
        color:@grey;
        strong{
          color:@red;
          font-size:200%;
        }
      }
    }
    .product-boxes{
      width:50%;
      float:right;
      text-align:right;
      margin-top:5px;
      span{
        width: 60px;
        height: 60px;
        display: inline-block;
        float:right;
      }
    }
    .product-review{
      color:@altgrey;
      clear:both;
      padding:10px 0;
      font-size:@font-11;
      .product-stars{
        font-size: 153%;
        margin-top: 5px;
        display: inline-block;
      }
      .product-comments{
        display: inline-block;
        margin-left: 7px;
      }
    }
    form{
      select{
        padding: 9px 24px;
        margin-top: 3px;
        width: 80px;
        border-right:1px solid @greyCCC;
      }
      input[type="number"]{
        padding: 9px 7px;
        width: 80px;
        border:1px solid @greyCCC;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
     }
      margin-bottom:25px;
    }
    .product-delivery{
      color:@grey;
      .product-tag{
        margin:0;
        &.en-stock, &.on-demand{
          padding-right:0;
          span{
            background-color:@white;
            color:@green;
            display:inline-block;
            padding: 2px 1px 2px 6px;
            margin-left: 3px;
          }
        }
        &.on-demand{
          span{
            color:@onDemand;
          }
        }
      }
      >span{
        &:first-child{display:block;letter-spacing: 0.2px;font-size:@font-12;}
      }
      .info-on-demand-container{
        width:15px;
        height:15px;
        border-radius:50%;
        background-color:@onDemand;
        color:@white;
        display:inline-block;
        padding: 0 0 0 4px;
        line-height: 14px;
        position:relative;
        .info-on-demand{
          .span-title{font-size:@font-14;color:@grey;display:block;margin-bottom:10px;}
          display:none;
          position:absolute;
          padding:5px;
          font-size:@font-12;
          //top:-105px;
          //left:-315px;
          background-color:@white;
          color:@grey;
          box-shadow:0 0 0 2px @onDemand;
          //width:320px;
          top: -134px;
          left: -228px;
          width: 235px;
          &:before,&:after{
            content: "";
            position: absolute;
            bottom: -20px;
            right: 0;
            border-width: 20px 0 0 20px;
            border-style: solid;
            border-color: @white transparent;
            display: block;
            width: 0;
            z-index:2;
          }
          &:before{
            bottom: -23px;
            right: -2px;
            z-index: 1;
            border-top-color: @onDemand;
            border-width: 23px 0 0 24px;
          }
        }
        &:hover, &.active{
          .info-on-demand{
            display:block;
          }
        }
      }
      margin-bottom:25px;
    }
    .product-personalize{
      .product-personalize-title{
        font-size: 114%;
        color: #747476;
        letter-spacing: 0.9px;
        padding-top: 2px;
        display: inline-block;
      }
      form{
        .product-personalize-custom-select {
          height: 40px;
          width: 298px;
          background: url(../img/compressed/sprite.png) -58px -715px no-repeat;
          padding:13px 20px 10px 10px;
          border-left: 1px solid @greyCCC;
          font-size:@font-12;
          display: block;
          &.active{
            opacity: 1 !important;
            background-position: -58px -763px;
          }
          a{
            .product-select-color-style{
              margin-left: -8px;
              margin-top: -10px;
              margin-right: 5px;
              height: 34px;
              width: 34px;
            }
          }
        }
        .product-personalize-select{
          display:none;
        }
      }
    }
    .product-add{
      text-align:center;
      .product-add-cart{
        margin:15px 0;
      }
      .product-add-wish{
        .white-rounded-button;
        /*font-size:@font-14;
        color:@grey;
        text-transform:uppercase;
        font-weight:bold;
        background:none;
        border:0;
        margin:18px 0;*/
        .icon-heart2{
          font-weight:bold;
          font-size:130%;
          margin-right:10px;
          display: inline-block;
          float: left;
        }
        .product-label-add-wish{
          display:inline-block;
        }
      }
    }
  }
  .product-description{
    padding-top:20px;
    letter-spacing: 0.7px;
    line-height: 19px;
    text-indent:justify;
    p{
      color:@grey;
      margin:19px 0;
      line-height:19px;
      &:first-child{
        font-size:@font-16;
      }
      &:nth-child(n+2){
        font-size:@font-12;
        .span-title{font-size:@font-16;color:@grey;font-weight:bold;display:block;margin-bottom:10px;}
      }
    }
  }
  .product-size{
    background-color:@darkergrey;
    width:300px;
    color:@grey;
    .product-size-description{
      padding-top: 20px;
    }
    .span-title{ padding:0 10px; text-transform:uppercase; font-weight:bold; color:@grey; font-size:@font-14; }
    p{padding:10px;font-size:@font-12;line-height:15px;}
  }

  .product-delivery-infos{
    color:@grey;
    .span-title{
      padding:37px 0 16px; text-transform:uppercase; font-weight:bold; color:@grey; font-size:@font-14; display:block;
      &:nth-child(n+2){
        font-size:@font-12;
        padding:0;
        letter-spacing: 0.2px;
      }
    }
    p{
      padding: 0 0 15px;
      font-size: 83%;
      line-height: 15px;
      letter-spacing: 0.2px;
      margin-top: -1px;
    }
  }

  .product-list-comments{
    border:1px solid @darkergrey;
    margin-top:55px;
    padding: 15px 10px 10px 10px;
    .span-title{
      color:@grey;
      line-height: 19px;
      letter-spacing: 0.2px;
    }
    .product-list-comments-title{
      margin-bottom: 20px;
    }
    >span{
      &:nth-child(2){
        display:block;
        color:@grey;
        font-size:@font-12;
        padding-top: 7px;
        margin-bottom: 37px;
      }
    }
    .product-stars{
      margin-left: 7px;
      padding-top: 2px;
      display: inline-block;
      letter-spacing: 0.0px;
      font-size:@font-12;
    }
    .product-comment{
      padding-bottom:20px;
      position:relative;
      .product-comment-star{ margin:1px 0; font-size: 124%; letter-spacing: 0; }
      .product-comment-date{
        font-size:@font-12;
        color:@altgrey;
        margin-right:10px;
      }
      .product-comment-nickname{
        font-size:@font-12;
        color:@grey;
      }
      p{
        color:@grey;
        margin:5px 0 10px;
        min-height:65px;
        max-height:170px;
        overflow:hidden;
        font-size:@font-16;
      }
      label.toggler-css{ position:absolute;z-index:2; }
      .more p:nth-child(n+2) { min-height:0; max-height:0 ; margin-bottom:0; overflow:hidden ;}
      #toggler:checked ~ .more p:nth-child(n+2) { max-height:600px; margin-bottom:10px; }
      &:after{
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, 0) 80% );
      }
    }
    .product-list-comments-pagination{
      .pagination-style;
    }
  }

  .product-personalize-selection{
    padding:10px;
    position:absolute;
    right:-100%;
    top:0;
    width:320px;
    background-color:@white;
    z-index:5;
    transition: right 0.5s ease-in;
    text-align:center;
    display: block;

    //gestion teinte
    &.teinte{
      .product-personalize-select-button{
        display: none !important;
      }
    }
    &.choised{
      &.teinte{
        .product-personalize-select-button{
          display: block !important;
        }
        .product-personalize-selected-txt{
          display: none;
        }
      }
    }

    .product-personalize-teinte-button {
      background-color: @darkergrey;
      border-radius: 30px;
      padding: 15px;
      border: 0;
      color: @grey;
      text-transform: uppercase;
      font-weight: 700;
      width: 85%;
      display: inline-block;
      cursor: pointer;

      span{
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
      }
      img{
        display: inline-block;
        vertical-align: middle;
      }
    }


    .product-personalize-txt{
      p{
        color:@grey;
        line-height:19px;
      }
    }
    .span-title{display:block;color:@grey;text-align:center;text-transform:none;font-size:@font-16;}
    .close{
      margin-top:-5px;
      opacity:1;
      .icon-close{font-size:50%;color:@grey;}
    }
    .product-personalize-selected{
      position:relative;
      img{
        width:300px;
        height:300px;
      }
      .product-personalize-select-button{
        position:absolute;
        top:35%;
        left:41%;
        background-color:@white;
        display:block;
        height:60px;
        width:60px;
        border-radius:40px;
        padding-top:19px;
      }
      .title{
        color:@black;
        font-size:@font-16;
        font-weight:bold;
        padding:15px 0;
        display: inline-block;
      }
      .product-personalize-selected-txt{
        position: absolute;
        width: 100%;
        top: 100px;
        padding: 0 35px;

        .first-txt{
          font-weight: bold;
        }
        .second-txt{
          text-align: left;
          color: @grey;
          font-size:@font-12;
        }
        .number{
          font-size: 23px;
          font-weight: bold;
        }
      }
    }
    .product-personalize-list-container{
      position: relative;
      max-height:200px;
      /*&:after{
        content : " ";
        position:absolute;
        width:100%;
        height:10px;
        left:0;
        bottom:0;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.59)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
      }*/
      .product-personalize-list{
        max-height:200px;
        overflow:auto;
        position: relative;
        display: flex;
        justify-content: center;
        .mCSB_container{display:flex;flex-wrap:wrap;}
        .product-select-color-style{
          position:relative;
          &.product-select-color-selected{
            &:after{
              font-family: '4pieds-icon'!important;
              content: "\e912";
              font-size: 42%;
              padding: 4px 5px;
              width: 16px;
              height: 16px;
              position: absolute;
              top: 35%;
              left: 36%;
              background-color: @white;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  #product-last-seen{
    display:none;
  }

}

/* ---- Page catégories */

.category-list-swiper{
  position: relative;
  box-sizing: border-box;

  .category-list-swiper-container{
    overflow:hidden;
    height: 120px;
    position: relative;
    box-sizing: border-box;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .swiper-wrapper{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }
  .swiper-category-prev{
    position: absolute;
    top: -12px;
    z-index: 150;
    height: 16px;
    width: 16px;
    left: 72px;
    cursor: pointer;
  }
  .swiper-category-next{
    position: absolute;
    bottom: -16px;
    z-index: 150;
    height: 16px;
    width: 16px;
    left: 72px;
    cursor: pointer;
  }
  i{
    font-size: 15px;
    color: @grey;
  }
  .swiper-button-disabled{
    display: none;
  }
}


#category-wrapper{
  position:relative;
  padding:10px;
  #category-sidemenu{
    z-index:5;
    background-color:@white;
    padding:10px;
    position:absolute;
    left:-100%;
    right: 0;
    bottom: 0;
    top: 0;
    transition:left 0.5s ease-in;
    overflow-y:scroll;
    .boxshadow(-3px, 0, 10px, 0, rgba(0,0,0,.75));
    width:320px;
    top:580px;
    .close{
      font-size:13px;
      color:@black;
      opacity:0.8;
    }
    #category-filters-active{
      li{
        background-color: #F2F2F2;
        width: auto;
        display: inline-block;
        margin-right: 10px;
        max-width: 175px;
        padding:2px 26px 0 5px;
        overflow: hidden;
        color:@grey;
        position:relative;
        margin-bottom:5px;
        height:20px;
        font-size:@font-12;
        &.en-stock{
          background-color:@green;
          color:@white;
          .icon-close{
            background-color:@green;
            color:@white;
            top:1px;
            &:after{
              background:none;
            }
          }
        }
        .category-filter-name{
          height: 20px;
          width: 150%;
        }
        .icon-close{
          position: absolute;
          right: 0;
          top: 0;
          padding: 5px;
          font-size:@font-11;
          color:@grey;
          background: rgba(242,242,242,1);
          &:after{
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: -12px;
            width: 17px;
            height: 19px;
            background: rgba(242,242,242,0);
            background: -moz-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,0)), color-stop(70%, rgba(242,242,242,1)), color-stop(100%, rgba(242,242,242,1)));
            background: -webkit-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
            background: -o-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
            background: -ms-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
            background: linear-gradient(to right, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=1 );
          }
        }
      }
    }

    .span-title{
      font-size:@font-20;
      color:@red;
      text-transform:uppercase;
      display:inline-block;
      margin-bottom:10px;
      &.no-small{
        display:none;
      }
    }

    .category-filter-reset{
      color:@grey;
      padding-left: 10px;
      .icon-close{font-size:80%;}
    }

    #category-sidemenu-filters{
      margin-top:10px;
      >li{
        clear:both;
        margin-bottom:10px;
        .category-sidemenu-label{
          padding-left:10px;
          font-weight:bold;
        }
        .category-sidemenu-filter-title{
          display:block;
          margin-bottom:10px;
          text-transform:uppercase;
        }
        .icon-right_arrow,.icon-down_arrow{
          font-size:@font-11;
        }
        .category-sidemenu-submenu{
          display:none;
          li{
            display:block;
            min-height:30px;
          }
          .category-sidemenu-en-stock{
            display:block;
            clear:left;
            color:@green;
            font-size:@font-12;
            padding-left:25px;
            margin-bottom:4px;
            padding-top:5px;
          }
          .category-sidemenu-checkbox{
            .checkbox-style;
          }
        }
        &.active{
          .category-sidemenu-submenu{
            display:block;
          }
        }
        button{
          outline:0;
          display: block;
          font-size: 84%;
          float: left;
          margin-top: -1px;
          background:none;
          border:0;
          margin-left: 10px;
          color:@grey;
          padding: 0;
          &.en-stock{
            background-color:@green;
            color:@white;
            padding:0 5px;
          }
        }
        .category-sidemenu-submenu-colors-container{
          position:relative;
          max-width: 250px;
          &:after{
            content : " ";
            position:absolute;
            width:100%;
            height:10px;
            left:0;
            bottom:0;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.59)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
          }
          ul{
            &.category-sidemenu-submenu-colors{
              position:relative;
              max-height: 200px;
              overflow: overlay;
              li{
                float: left;
                width: 50px;
                height: 50px;
                clear: none;
              }
            }
            li{
              clear:both;
              height:22px;
              .category-sidemenu-checkbox-color{
                position:relative;
                .product-select-color-style;
                input{
                  -moz-appearance: none;
                  -webkit-appearance: none;
                }
                &.checkbox-color-checked{
                  &:after{
                    font-family: '4pieds-icon'!important;
                    content: "\e918";
                    font-size: 42%;
                    padding: 4px 5px;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 35%;
                    left: 36%;
                    background-color: @white;
                    border-radius: 10px;
                  }
                }
              }
              &:nth-child(1){
                .category-sidemenu-checkbox-color{
                  background-position:0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  #category-illustration{
    background:transparent url(../img/compressed/bg-product-list.jpg) no-repeat -371px top;
    width:110%;
    height:300px;
    padding-top:35px;
    padding-left:13px;
    margin-left:-10px;
    h1{
      font-size:@font-30;
      text-transform:uppercase;
      color:@grey;
      font-weight:bold;
      width:100px;
    }
    ul{
      li{
        a{
          font-size:@font-12;
          color:@grey;
        }
      }
    }
  }

  #category-content{
    margin-top:20px;
    .more{
      color:@grey;
      margin-bottom:40px;
    }
  }

  #category-list-product-container{
    #category-top-list-product{
      #category-nb-products{
        color:@altgrey;
        font-size:@font-12;
        display:block;
        float:left;
        strong{
          font-size:190%;
        }
      }
      form{
        float:right;
        select{
          border:1px solid @altgrey;
          padding: 10px 29px 10px 10px;
          width: 180px;
          color:@grey;
          font-size:@font-12;
        }
      }
      .category-sort{
        .category-sort-button;
      }
    }
    #category-list-product{
      clear:both;
      padding-top:20px;
      .product{
        margin: 0 auto 80px;
        width:300px;
      }
    }
    .category-product-pagination{
      .pagination-style;
    }
  }

}

/* ---- Panier */

#order-cart{

  padding:10px;

  #order-list{
    width:300px;
    margin:0 auto;
    .span-title{
      color:@grey;
    }

    #order-table-head{
      display:none;
    }

    #order-list-products{
      width:100%;
      margin:0 auto;
      li{
        width:100%;
        border-bottom:1px solid @bgColor;
        padding:10px 0 25px;
        .order-product-img{
          width:50px;
          height:100%;
          float:left;
          img{width:100%;height:auto;}
        }
        .order-product-infos-container{
          overflow:hidden;
          .order-product-infos{
            color:@grey;
            .order-product-name{
              font-size:@font-16;
              font-weight:bold;
              text-transform:uppercase;
              margin:5px 0;
              display:inline-block;
              line-height: 19px;
            }
            .order-product-personalize{
              display:block;
              height:30px;
              font-size:@font-12;
              padding-top:9px;
              margin: 14px 0 9px;
              .product-select-color-style{
                width:30px;
                height:30px;
                float:left;
                margin:-9px 10px 0 0;
              }
            }
            .order-product-details{
              margin:5px 0;
              clear:left;
              font-size:@font-12;
            }
          }
          .order-product-price, .order-product-quantity, .order-product-price-final{
            color:@grey;
            margin:10px 0;
            .no-large{text-transform:uppercase;margin:3px 0;}
          }
          .order-product-price, .order-product-price-final{
            .price, .price-old, .price-new{
              font-size:@font-16;
            }
          }
          .order-product-tags{
            .en-stock{
              margin-left:0;
            }
          }
          .order-product-quantity{
            select{
              border-color:@greyCCC;
              padding: 8px 16px;
              width: 90px;
              //margin-top: -3px;
              font-weight:bold;
              font-size:@font-16;
            }
            input[type="number"]{
              padding: 8px 16px;
              width: 90px;
              border: 1px solid @greyCCC;
              font-size:@font-16;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              opacity: 1;
            }
          }
        }
      }
    }

  }

}

/* ---- Colonne Recap Panier (cart-total-column.tpl) */
#order-infos{
  clear:both;
  width:300px;
  margin:0 auto;
  .order-label{
    text-transform: uppercase;
    color:@grey;
    font-size: @font-14;
    font-weight:bold;
    margin-bottom:10px;
    display:inline-block;
  }

  .order-price{
    color:@red;
    font-size:@font-32;
    float: right;
    font-weight:bold;
  }

  #order-delivery-infos{
    color:@grey;
    font-size:@font-12;
  }

  #order-price,
  #order-serenity {
    margin:10px 0;
    width:100%;
    padding:20px;
    background-color:@bgColor;
    .order-price{
      margin-top: -17px;
    }
  }
  #order-price{
    position:relative;
    .span-title{color:@red;display:block;margin-bottom:15px;}
    form{
      fieldset{
        &.error{
          border:1px solid @red;
        }
      }
      input[type="text"]{
        border: 0;
        padding: 10px 10px;
        display: block;
        float: left;
        width:217px;
      }
      input[type="submit"]{
        background-color:@grey80;
        border: 5px solid @white;
        color:@white;
        font-size:@font-20;
        width:40px;
        height:40px;
        display: block;
        padding: 0;
        text-align: center;
      }
    }
    #order-total{
      margin:15px 0;
      .order-price{margin:0;}
    }
    #order-validation-cart{
      .black-rounded-button;
      width: 100%;
      display: block;
      text-align: center;
      margin-top:10px;
      .icon-validation{
        float: left;
        padding-top: 3px;
      }
    }
    #order-vouchers{
      .order-label:first-child{
        margin-top:25px;
        display:block;
      }
      .order-label:last-child{
        display:block;
        float:right;
      }
      .order-voucher{
        background-color:@lightgrey;
        padding:2px 5px;
        display:block-inline;
        color:@grey;
        .icon-close{
          font-size:@font-11;
        }
      }
    }
    #order-summary, #order-delivery-summary{
      .order-label-product{
        font-size:@font-12;
        color:@grey;
        display:block;
        float:left;
        width:75%;
        margin-bottom:10px;
        margin-right:20px;
      }
    }
    #order-delivery-address,
    #order-invoice-address{
      .order-label-product{
        color:@grey;
        font-size:@font-12;
      }
    }

    #order-validation-address,
    #order-validation-delivery{
      .black-rounded-button;
      color:@grey;
      background-color:fade(#000,10);
      display:block;
      margin-top:25px;
      .icon-validation{
        margin-right:10px;
      }
    }
  }
  #order-delivery{
    clear:right;
    span{
      &:nth-child(3){
        float:right;
      }
    }
    .order-infos-link{
      background-color: @white;
      border-radius: 15px;
      height: 15px;
      width: 15px;
      display: inline-block;
      line-height: 15px;
      padding-left: 5px;
      position:relative;
      margin-left: 5px;
      #order-infosbulle{
        display:none;
        position:absolute;
        background-color:@grey;
        padding:10px;
        width:360px;
        top:-100px;
        left:-352px;
        font-size:@font-12;
        color:@white;
        .boxshadow(0,10px,20px,0,rgba(0,0,0,0.20));
        &:after{
          content: "";
          position: absolute;
          bottom: -20px;
          right: 0;
          border-width: 20px 0 0 20px;
          border-style: solid;
          border-color: @grey transparent;
          display: block;
          width: 0
        }
      }
      &:hover{
        #order-infosbulle{display:block;}
      }
    }
  }
  form{ clear:right; margin:10px 0 20px; }
  hr{
    border:0;
    height:1px;
    width:260px;
    background-color:@grey;
    margin:15px 0;
  }
  #order-wish-list{
    .product{
      width:300px;
    }
  }
  #order-serenity{
    margin:22px 0;
    padding: 19px 14px 10px 14px;
    .span-title{color:@grey;}
    ul{
      li{
        margin:10px 0 15px;
        height:50px;
        clear:left;
        color:@grey;
        font-size:@font-12;
        p{
          display: table-cell;
          vertical-align: middle;
          height: 37px;
        }
        &:last-child{ margin-bottom:5px; }
        >span{ display:block; width:50px;height:50px; margin:0 10px 0 6px; float:left; }
        strong{display:block;text-transform:uppercase;}
      }
    }
  }

}

/* ---- Mon compte */

#navigation-account{
  border-bottom: 1px solid #E8EAE5;
  ul{
    width:100%;
    padding:10px 25px 0;
    height:32px;
    li{
      float:left;
      width:160px;
      text-align: center;
      a{
        display:inline-block;
        padding:0;
        text-align:center;
      }
      a:not(.active){
        font-size:@font-12;
        color:@grey;
        text-transform:uppercase;
        border-bottom:5px solid @white;
        font-weight:bold;
      }
      a.active{
        text-transform:uppercase;
        font-weight:bold;
        color:@red;
        font-size:@font-16;
        display:block;
        border-bottom:5px solid @red;
        padding-bottom:15px;
      }
    }
  }
}

/* -- Mes envies */

#wishlist{
  width:300px;
  margin: 0 auto;
  .product{
    width:300px;
    margin-bottom:10px;
  }
}

/* -- Mon profil */

#my-informations{
  width:100%;
  padding:10px;
  margin:0 auto;
  .span-title{
    color:@grey;
    margin-bottom:20px;
    display:block;
  }
  p{
    color:@grey;
    font-size:@font-12;
  }
  form{
    .title-dropdown{
      color:@grey;
      font-size:@font-12;
      font-weight:bold;
      text-transform: uppercase;
      .icon-right_arrow,.icon-down_arrow{
        font-size:80%;
      }
    }
    fieldset{display:none;padding-top:15px;}
    .my-informations-radio{
      .radio-style;
    }
    #my-informations-checkbox{
      .checkbox-style;
      margin-top:30px;
    }
    label{
      color:@grey;
      font-weight:normal;
    }
    label[for="newsletter-checkbox"]{
      padding:29px 0 0 5px;
      font-size:@font-12;
    }
    input[type="text"]{
      .input-my-account;
    }
    select{
      width:30%;
      padding:14px 13px;
      border: 1px solid @darkergrey;
      color:@grey;
      background-position:right 5px;
      &:nth-child(2n+1){
        width:34%;
        margin:0 5px;
      }
    }
    input[type="submit"]{
      .grey-rounded-button;
    }
  }

}

#my-addresses{

  width:100%;
  padding:10px;
  margin:0 auto;

  .span-title{
    color:@grey;
    display:block;
  }

  #my-addresses-left{
    float: left;
    width: 100%;
  }

  #my-addresses-list{

    li{
      padding:20px 0;
      border-bottom:1px solid @darkergrey;
      &:last-child{border:0;}
      .my-addresses-radio{
        .radio-style;
        float: left;
        margin-right:20px;
      }
      .address{
        width:240px;
        float:left;
        color:@grey;
        text-transform:uppercase;
        strong{ display:block; }
      }
      label.address{
        font-weight:normal;
        overflow:hidden;
      }
      .address-actions{
        float:right;
        a{
          display:block;
          margin-bottom:20px;
          font-size:122%;
        }
      }
    }
  }

  #my-address-add,
  #my-address-invoice-add{
    clear:both;
    padding-top:20px;
    margin-bottom:60px;
    .content-dropdown{display:none;}
    .title-dropdown{
      color:@grey;
      font-size:@font-12;
      font-weight:bold;
      text-transform: uppercase;
      .icon-right_arrow,.icon-down_arrow{
        font-size:80%;
      }
    }

    input[type="text"]{
      .input-my-account;
    }

    input[type="submit"]{
      .grey-rounded-button;
    }
  }

  #my-address-invoice-add{display:none;}

  label[for="my-address-invoice-checkbox"]
  {
    color:@grey;
    font-weight:normal;
    margin: 0 10px;
    font-size:@font-12;
    margin-top: 19px;
    display: block;
    margin-left: 5px;
    float: left;
    max-width:260px;
  }

  .my-address-invoice-checkbox{
    .checkbox-style;
    margin-top:20px;
  }


}

/* -- Mes commandes (historique) */

#order-history{
  >ul{
    width:300px;
    margin:0 auto;
    padding:10px 0;
    >li{
      padding:10px 0;
      border-bottom:1px solid @bgColor;
      &:last-child{border:0;}
      .order-date{
        width:100%;
        float:left;
        margin:5px 0 5px -5px;
        a:not(.order-more-details){font-weight:bold;}
        >span:first-child{font-size:@font-11;color:@grey;margin-right:5px;}
        .order-price{ width:25%;float:right; text-align:right; padding-right:10px; font-weight:bold;color:@grey;}
      }
      .order-details{
        padding-left:20px;
        display:none;
        color:@grey;
        li{
          margin:5px 0 0;
          .order-product-name{
            display:block;
            width:75%;
            float:left;
          }
          .order-product-price{
            display:block;
            width:25%;
            float:right;
            text-align:right;
            padding-right:10px;
            font-weight:bold;
          }
        }
        .order-more-details{
          clear:both;
          display:inline-block;
          font-size:@font-12;
          color:@red;
          text-decoration:underline;
        }
      }

      .order-delivery-status{
        clear:both;
        padding-left:15px;
        margin:5px 0;
        font-size:@font-12;
        color:@grey;
        &.delivery-ok{color:@green;}
      }
      .order-follow{
        clear:both;
        padding-left:15px;
        a{
          font-size:@font-12;
          color:@red;
          text-decoration:underline;
        }
      }
    }
  }
}

.order-history-pagination{
  .pagination-style;
  margin-top:40px;
}

/* ---- Page Inscription */

#registration{
  padding:10px;
  #registration-form{
    width:300px;
    float:left;
    .span-title{color:@grey;margin-bottom:15px;display:inline-block;}
    .registration-radio{
      .radio-style;
    }
    .registration-checkbox{
      .checkbox-style;
      clear:both;
      margin-bottom:35px;
    }
    input[type="text"]{
      .input-my-account;
      max-width:260px;
    }

    label{
      color:@grey;
      font-weight:normal;
      margin: 0 10px;
      font-size:@font-12;
    }
    label[for="registration-newsletter-optin-checkbox"],
    label[for="registration-offer-optin-checkbox"],
    label[for="registration-delivery-checkbox"]
    {
      margin-top: -1px;
      display: block;
      margin-left: 5px;
      float: left;
      max-width:260px;
    }
    fieldset{
      margin-bottom:15px;
    }
    #registration-select-container{
      width:260px;
      margin-bottom:20px;
      select{
        width: 30%;
        padding: 14px 6px;
        border: 1px solid #E8EAE5;
        color: #747476;
        background-position: right 5px;
        &:nth-child(2n){
          width:33%;
          margin:0 5px;
        }
      }
    }

    input[type="submit"]{
      .black-rounded-button;
      display:block;
      margin:0 auto 20px;
    }

    #registration-delivery-address{
      display:none;
      clear:both;
    }

  }

}

/* ---- Page choix livraison */

#delivery{
  padding:10px;

  #delivery-form{
    width:300px;
    float:left;
    margin:0 auto;
    ul{
      li{
        padding:20px 0 10px;
        border-bottom:1px solid @darkergrey;
        .delivery-radio{
          .radio-style;
          float:left;
          display:block;
          margin-right:10px;
        }
        label{
          display:block;
          overflow:hidden;
          color:@grey;
          text-transform:uppercase;
          .delivery-choice-label{
            display:block;
            width:54%;
            float:left;
            margin-bottom:5px;
          }
          .price{
            float:right;
          }
          small{
            clear:both;
            display:block;
            text-transform:none;
            font-weight:normal;
            font-size:@font-12;
          }
        }
        .delivery-more-infos{
          display:none;
          color:@grey;
          font-size:@font-12;
          padding-left:27px;
          margin-top:15px;
          .customSelect{
            margin-bottom:10px;
            display:block !important;
            font-size:@font-14 !important;
          }
        }
      }
    }

  }
}

/* ---- Page choix paiement */

#payment{
  padding:10px;

  .payment-checkbox{
    .checkbox-style;
  }

  .payment-label{
    margin-top: -1px;
    display: block;
    margin-left: 5px;
    float: left;
    color: @grey;
    font-weight: normal;
    font-size:@font-12;
  }

  #payment-form{
    width:300px;
    float:left;
    margin:0 auto;

    ul{
      li{
        padding:20px 0 10px;
        border-bottom:1px solid @darkergrey;
        .payment-radio{
          .radio-style;
          float:left;
          display:block;
          margin-right:10px;
        }
        label{
          display:block;
          overflow:visible;
          color:@grey;
          text-transform:uppercase;
          padding-left: 27px;
          .icon-virement, .icon-cheque{
            font-size: 300%;
            float: left;
            display: block;
            margin-top: -12px;
            margin-right: 10px;
          }
        }
        .payment-more-infos{
          display:none;
          color:@grey;
          font-size:@font-12;
          padding-left:27px;
          margin-top:15px;
          a{
            .black-rounded-button;
            display: inline-block;
            margin-top:10px;
            .icon-validation{
              margin-right:10px;
            }
          }
        }
      }
    }

  }
}

/* ---- Page commande validée */

#order-completed{
  padding:10px;
  .span-title{
    color:@red;
    font-size:@font-20;
    display:block;
    margin-bottom:10px;
  }
  .span-subtitle{
    color:@grey;
    font-weight:bold;
    text-transform:uppercase;
    display:inline-block;
    margin-bottom:20px;
  }
  #order-completed-list-products{
    width:300px;
    margin:0 auto;
    li.order-completed-product{
      .order-completed-product-img{
        img{
          width:150px;
          display:block;
          float:left;
        }
      }
      overflow:hidden;
      ul{
        padding-top:95px;
        li{
          float:left;
          border-bottom:5px solid @white;
          margin-right:18px;
          padding-bottom: 10px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity:0.5;
          &.active,
          &:hover{
            border-color:@red;
            -webkit-filter:none;
            filter:none;
            opacity:1;
          }
          &:last-child{
            opacity:1;
          }
        }
      }
      form{
        clear:both;
        input[type="text"]{display:none;}
        textarea{ width:100%; height:80px; border:1px solid @greyCCC; padding:5px; color:@grey; font-size:@font-12; }
        button[type="submit"]{
          .darkgrey-rounded-button;
          padding:6px 25px;
          margin:5px auto 20px;
          .sprite-product-share{
            float:left;
          }
          span:nth-child(2){
            display:block;
            overflow:hidden;
            margin-top: 5px;
          }
          &:hover{background-color:@grey;}
        }
      }
    }
  }
  .product-also-seen{
    clear:both;
    padding-top:16px;
    position:relative;
    .span-title{
      color:@red;
      display:block;
      margin-bottom:35px;
      letter-spacing: 0.3px;
      line-height: 22px;
    }
  }
}

/* ---- footer */

footer{

  padding:10px;
  width: 320px;
  margin: 0 auto;

  #footer-social{
    background-color:@orange;
    width:100%;
    text-align:center;
    padding:20px;
    margin:20px 0;
    .span-title{font-size:@font-20;}
    p{ font-size:@font-12; color:@white; margin-top:10px; }
    ul{
      li{
        display:inline-block;
        a:hover{
          .sprite-footer-social-facebook{
            .s(-325px, -396px,@spriteUrl);
          }
          .sprite-footer-social-twitter{
            .s(-325px, -446px,@spriteUrl);
          }

          .sprite-footer-social-pinterest{
            .s(-325px, -496px,@spriteUrl);
          }

          .sprite-footer-social-instagram{
            .s(-325px, -546px,@spriteUrl);
          }
        }
      }
    }
  }

  #footer-professional-space{
    .blocks;
    position:relative;
    padding:10px;
    background-color:@grey;
    .span-title{
      font-weight: bold;
      margin: 16px 0 0 11px;
      display: block;
      letter-spacing: 1.5px;
      line-height: 26px;
    }
    .sprite-pro-chair{
      width:60px;
      height:94px;
      display:block;
      margin:0 auto;
      .s(0, -89px,@spriteUrl);
    }
    p{
      margin-top: 10px;
      padding: 2px 18px 0 10px;
      line-height: 17px;
      letter-spacing: 0.1px;
      color:@white;
    }
    a{
      position:absolute;
      top:0;
      left:0;
      width:300px;
      height:300px;
      display:block;
    }
  }
  #footer-cgv{
    .blocks;
    margin-top:10px;
    background-color:@darkergrey;
    padding:30px 20px 20px;
    font-size:@font-12;
    color:@grey;
    p{
      line-height: 16px;
    }
  }
  #footer-popular-search{
    .blocks;
    margin-top:10px;
    background-color:@darkergrey;
    padding:30px 20px 20px;
    color:@grey;
    .span-title{color:@grey;font-size:@font-16;}
    ul{
      margin-top:18px;
      li{
        display:inline-block;
        &:after{ content: " -"; }
        a:hover{color:@black;}
      }
    }
  }
  #footer-sitemap{
    position:relative;
    .blocks;
    margin-top:10px;
    background-color:@darkergrey;
    padding:30px 20px 20px;
    #sitemap-logo{
      position:absolute;
      top:0;
      left:0;
      border-right:10px solid @white;
      border-bottom:10px solid @white;
      img{
        width:100px;
        height:100px;
      }
    }
    ul{
      margin: 91px 0 0 13px;
      li{
        color:@grey;
        list-style-type: disc;
        a{
          letter-spacing: 0.4px;
          padding-left: 5px;
          &:hover{color:@black;}
        }
      }
    }
  }
}

/* ---- Sticky bars */

#sticky-menu{
  position:fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  z-index:5;
  background-color:@white;
  display:none;
  padding:5px 0 5px 10px;
  .boxshadow(0,5px,10px,0,rgba(0,0,0,0.20));
  #sticky-menu-left{
    width:50px;
    float:left;
    #sticky-menu-button{
      font-size: 167%;
      width: 24px;
      height: 40px;
      display: inline-block;
      padding-top: 5px;
    }
    #sticky-menu-logo{
      display:block;
      float:left;
      img{
        height:40px;
        width:40px;
      }
    }
  }

  #sticky-menu-right{
    overflow:hidden;
    padding-left: 20px;
    padding-right:10px;
    .breadcrumb-4pieds{display:none;}
    .product-add-cart{
      padding: 4px 8px;
      margin: 5px 2px 0 5px;
      display: block;
      float: right;
      .product-label-add-cart{
        padding-top:0;
      }
      .icon-cart{
        font-size:125%;
      }
    }
    .product-add-wish{
      .white-rounded-button;
      display:block;
      float:right;
      border:0;
      padding:4px 10px;
      margin-top:4px;
      .icon-heart2{
        font-size: 130%;
        font-weight:bold;
      }
    }
    .mobile-cart{
      float:right;
      display: block;
      width:30px;
      position:relative;
      margin:0 1px;
      .icon-cart{
        font-size: 202%;
        color: @red;
        margin-top: 6px;
        display: block;
      }
      .cart-notifications{
        top: 0;
        right: -11px;
        padding: 2px 0 0 7px;
        font-size: 90%;
      }
    }
  }

  .category-sort{
    .category-sort-button;
    width:125px;
    padding:8px 16px;
    margin-top: 2px;
    float:right;
    span:nth-child(2){
      padding-top:2px;
    }
    .icon-zoom{
      font-size: 130%;
      margin: 0 5px 0 0;
    }
  }

}

#sticky-bar-cart{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:@darkergrey;
  z-index:5;

  #sticky-bar-cart-content{
    width:100%;
    li{
      float:left;
      padding:5px 8px 5px 8px;
      position:relative;
      margin-right:20px;
      border-bottom:1px solid @white;
      width:100%;
      text-align:center;
      &:last-child{
        margin-right:0;
        border-bottom:0;
      }
      .sticky-bar-bubble{
        display:none;
        position:absolute;
        top:-155px;
        left:0;
        right:0;
        margin:0 auto;
        width:209px;
        background-color:@grey;
        padding:23px 15px;
        width:210px;
        font-size:@font-12;
        color:@white;
        .close{
          position: absolute;
          top: 10px;
          left: 190px;
          .icon-close{
            font-size: 45%;
            color: @white;
          }
        }
        strong{
          display:block;
          font-size:150%;
        }
        &:after{
          content: "";
          position: absolute;
          bottom: -10px;
          right: 20px;
          border-width: 10px 0 0 10px;
          border-style: solid;
          border-color: @grey transparent;
          display: block;
          width: 0;
        }
      }
      a{
        width: 185px;
        display: inline-block;
        height: 100%;
        margin:0 auto;
        span:first-child{
          float:left;
        }
        span:nth-child(2){
          margin: 7px 0 0 18px;
          display: inline-block;
          color:@grey;
          font-size:@font-12;
          width:100px;
          text-align:center;
        }
        span:nth-child(3){
          display:inline-block;
          font-size:@font-12;
          color:@grey;
          font-weight:bold;
          margin-left:18px;
        }
      }
      &:hover,
        &.active{
        background-color:@grey;
        a{
          .sprite-callback{
            .s(-299px, -72px,@spriteUrl);
          }
          .sprite-chat{
            .s(-347px, -72px,@spriteUrl);
          }
          .sprite-write-us{
            .s(-323px, -72px,@spriteUrl);
          }
          .sprite-contact-us{
            .s(-274px, -72px,@spriteUrl);
          }
          span:nth-child(2){ color:@white; }
          span:nth-child(3){ color:@white;&:before{content:"\e918";} }
        }
      }
    }
  }

  /*
  Ancienne Sticky, on la garde sous le coude pour le moment
  #sticky-bar-cart-content{
    width:320px;
    margin:0 auto;

    #sticky-bar-cart-left{
      width:100%;
      padding:10px;
      .sprite-serenity4{
        float:left;
      }
      div{
        color:@grey;
        text-transform:uppercase;
        font-size:@font-12;
        font-weight:bold;
        padding-top:10px;
      }
    }

    #sticky-bar-cart-right{
      width:100%;
      clear:both;
      padding:10px;
    }

    button{
      background-color:@red;
      border-radius:20px;
      padding:0 5px;
      height:30px;
      width:110px;
      border:0;
      color:@white;
      float: left;
      margin-right: 20px;
    }

    #sticky-bar-cart-callus{
      color:@grey;
      text-transform:uppercase;
      display:block;
      font-size:@font-12;
      font-weight:bold;
      margin-top:-5px;
      strong{
        color:@red;
        display:block;
        font-weight:bold;
        font-size: 172%;
      }
    }
  }*/
  &:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    .boxshadow(1px, 1px, 10px, 0px, rgba(0,0,0,0.3));
  }

}

/* --------- Popins */

#cookie-popin{
  background:#ef7778 url('../img/compressed/cookie-popin.png') no-repeat -985px bottom;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:6;
  display:block;
  padding: 30px 10px 10px 10px;

  .mCSB_container{
    overflow:visible;
  }

  .close{
    opacity:1;
    font-size:@font-12;
    color:@white;
    font-weight:normal;
    text-shadow:none;
    position:absolute;
    float:none;
    right: 0;
    top: 0;
    z-index:4;
    .icon-close{font-size:@font-11;color:@white;}
  }

  #cookie-popin-content{
    width:300px;
    margin:0 auto;
  }

  #cookie-popin-left{
    width:300px;
    margin:0 auto;
    position:relative;
    #cookie-popin-left-text1{
      font-size:@font-30;
      text-transform:uppercase;
      font-weight:bold;
      line-height: 30px;
    }
    #cookie-popin-left-text2{
      font-size:@font-12;
      position:absolute;
      top: 75px;
      left: 84px;
    }
    #cookie-popin-left-text3{
      font-size:690%;
      font-weight:bold;
    }
    #cookie-popin-left-text4{
      font-size:@font-12;
      position:absolute;
      top: 128px;
      left: 150px;
    }
  }

  #cookie-popin-right{
    width:100%;
    p{
      color:@white;
      font-size:@font-16;
    }
    input,select{
      width:100%;
    }
    select{
      .select-style;
    }
    input[type="text"]{
      .input-my-account;
      padding:8px 13px;
    }
    input[type="submit"]{
      .black-rounded-button;
      background-color:fade(#000,20);
    }
  }

  #cookie-popin-bottom{
    clear:both;
    color:@white;
    font-size:@font-12;
    padding-top:10px;
    a{
      color:@white;
      display:block;
      text-decoration:underline;
    }
  }

}

#add-cart-popin{
  width:320px;
  overflow: hidden;
  padding:10px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
  background-color:@white;
  z-index:5;
  display:none;
  .span-title{
    display:block;
    margin:10px 0;
    color:@grey;
  }

  .add-cart-product-img{
    width:50px;
    height:100%;
    float:left;
    margin-right:10px;
    img{width:100%;height:auto;}
  }

  .add-cart-product-infos-container{
    overflow:hidden;
    .add-cart-product-infos{
      color:@grey;
      .add-cart-product-name{
        font-size:@font-16;
        font-weight:bold;
        text-transform:uppercase;
        margin:5px 0;
        display:inline-block;
      }
      .add-cart-product-personalize{
        display:block;
        height:30px;
        font-size:@font-12;
        padding-top:9px;
        margin:5px 0;
        .product-select-color-style{
          width:30px;
          height:30px;
          float:left;
          margin:-9px 10px 0 0;
        }
      }
      .add-cart-product-details{
        margin:5px 0;
        clear:left;
        font-size:@font-12;
      }
    }
    .add-cart-product-price, .add-cart-product-quantity, .add-cart-product-price-final{
      color:@grey;
      margin:10px 0;
      .no-large{text-transform:uppercase;margin:3px 0;}
    }
    .add-cart-product-price, .add-cart-product-price-final{
      .price, .price-old, .price-new{
        font-size:@font-16;
      }
    }
    .add-cart-product-quantity{
      select{
        border-color:@greyCCC;
        padding:5px 10px;
        width:80px;
      }
    }
  }

  #add-cart-popin-actions-top{
    display:none;
  }

  #add-cart-popin-bottom{
    position:relative;
    background-color:@darkergrey;
    margin-left:-10px;
    padding:20px 10px 0 20px;
    width:320px;
    margin-top:20px;
    .span-title{display:none;}
    .swiper-navigation-right{
      top:15%;
    }
    .product{
      width:140px;
      margin-right:10px;
      p.product-title{
        height:65px;
        color:@grey;
      }
    }

    #add-cart-popin-actions-bottom{
      background-color:@white;
      width: 320px;
      margin-left: -20px;
      padding-top:10px;
      a{
        &:first-child{
          .black-rounded-button;
          background-color:fade(#000,20);
          .icon-left-arrow{
            margin-right:10px;
          }
        }
        &:nth-child(2){
          .black-rounded-button;
          .icon-validation{
            margin-right:10px;
          }
        }
        display:block;
        clear:both;
        width:250px;
        margin:10px auto;
        padding:13px 15px !important;
      }
    }

  }

}

#menu-float-desktop-identification{
  width:300px;
  margin:0 auto;
  position:absolute;
  right:3%;
  top:10%;
  background-color:@darkergrey;
  z-index:5;
  padding:10px;
  text-align:center;
  .span-title{color:@red;float:left;}
  form{
    clear:both;
    input[type="text"]{
      font-size:@font-12;
      border:1px solid @darkergrey;
      width:100%;
      padding:8px 10px;
    }
    #identification-password{
      margin-top:10px;
      clear:both;
      display:none;
      a{
        float:left;
        display:block;
        margin:5px 0;
        text-decoration:underline;
        font-size:@font-12;
      }
      input[type="submit"]{
        clear:both;
        .black-rounded-button;
        width:250px;
        display:block;
        margin:0 auto;
      }
    }
    #identification-register{
      margin-top:20px;
      clear:both;
      a{
        .black-rounded-button;
        width:250px;
        display:block;
        margin:0 auto;
      }
    }
    #identification-facebook{
      .black-rounded-button;
      background-color:@facebook;
      width:250px;
      display:block;
      margin:10px auto 0;
    }
    .identification-checkbox{
      .checkbox-style;
      margin-top:15px;
    }
    label{
      color:@grey;
      margin-top:11px;
      margin-left:10px;
      font-size:@font-16;
      float:left;
    }
  }
}

#fullscreen-map-container{
  width:95%;
  height:90%;
  position:fixed;
  top:60px;
  left:0;
  right:0;
  margin:0 auto;
  display:none;
  z-index:5;
  #fullscreen-map{
    height:100%;
    width:100%;
  }
  .close{ position:absolute;top:10px; right:10px; z-index:6; .icon-close{color:@black;} }
}

/** Fix **/

@supports (-ms-accelerator:true) {
  #order-cart #order-list #order-list-products li .order-product-infos-container .order-product-quantity select{padding:5px 14px;}
}

/* ---- responsive display specifications */
.only-medium {
  display:none;
}
.only-large {
  display:none;
}
.only-wide {
  display:none;
}
.no-medium {
  display:block;
}
.no-large {
  display:block;
}
.no-wide {
  display:block;
}
/*-- prior */
.no-small {
  display:none;
}
.only-small {
  display:block;
}

/* -------------- mobile first */
#responsive-stylesheet {
  /*-- instanciated by JS : used to synch css and js during screen detection size--*/
  position:absolute;
  z-index:1001;
  opacity:0.1;
}
/* -------------- tablette */
@media screen and (min-width: @break-small) {
  @import url('medium.less');
  #responsive-stylesheet {
    z-index:1002;
    opacity:0.2;
  }
}
/* -------------- desktop */
@media screen and (min-width: @break-large)  {
  @import url('large.less');
  #responsive-stylesheet {
    z-index:1003;
    opacity:0.3;
  }
}
